In [1]:
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
import chart_studio.plotly as py
import plotly.express as px
from collections import Counter
import pandas as pd
import collections
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import lxml
from urllib.request import urlopen
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
import os
import plotly.graph_objects as go
import numpy as np

So for this file we are going to prepare the data to be used in a model in further notebooks to help predict what type of team 'profile' is needed to win the Premier League.

In [2]:
Link = "https://www.marca.com/en/football/premier-league/winners.html"

In [3]:
response = requests.get(Link)

response.raise_for_status()  # Check for request errors

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
table = soup.find('table')

In [5]:
rows  = table.find_all('tr')  # Find all rows in the table

In [6]:

Years = []
Winners = []
for row in rows:
    cells = row.find_all(['td', 'th'])
    cell_data = [cell.get_text(strip=True) for cell in cells]
    Years.append(cell_data[0])
    Winners.append(cell_data[1])
    #cell_data_array.append(cell_data)
    print(cell_data)

['Year', 'Winner', 'Runners-up']
['2024-25', 'Liverpool', 'Arsenal']
['2023-24', 'Manchester City', 'Arsenal']
['2022-23', 'Manchester City', 'Arsenal']
['2021-22', 'Manchester City', 'Liverpool']
['2020-21', 'Manchester City', 'Manchester United']
['2019-20', 'Liverpool', 'Manchester City']
['2018-19', 'Manchester City', 'Liverpool']
['2017-18', 'Manchester City', 'Manchester United']
['2016-17', 'Chelsea', 'Tottenham Hotspur']
['2015-16', 'Leicester City', 'Arsenal']
['2014-15', 'Chelsea', 'Manchester City']
['2013-14', 'Manchester City', 'Liverpool']
['2012-13', 'Manchester United', 'Manchester City']
['2011-12', 'Manchester City', 'Manchester United']
['2010-11', 'Manchester United', 'Chelsea']
['2009-10', 'Chelsea', 'Manchester United']
['2008-09', 'Manchester United', 'Liverpool']
['2007-08', 'Manchester United', 'Chelsea']
['2006-07', 'Manchester United', 'Chelsea']
['2005-06', 'Chelsea', 'Manchester United']
['2004-05', 'Chelsea', 'Arsenal']
['2003-04', 'Arsenal', 'Chelsea']
['2002-03', 'Manchester United', 'Arsenal']
['2001-02', 'Arsenal', 'Liverpool']
['2000-01', 'Manchester United', 'Arsenal']
['1999-00', 'Manchester United', 'Arsenal']
['1998-99', 'Manchester United', 'Arsenal']
['1997-98', 'Arsenal', 'Manchester United']
['1996-97', 'Manchester United', 'Newcastle United']
['1995-96', 'Manchester United', 'Newcastle United']
['1994-95', 'Blackburn Rovers', 'Manchester United']
['1993-94', 'Manchester United', 'Blackburn Rovers']
['1992-93', 'Manchester United', 'Aston Villa']
['1991-92', 'Leeds United', 'Manchester United']
['1990-91', 'Arsenal', 'Liverpool']
['1989-90', 'Liverpool', 'Aston Villa']
['1988-89', 'Arsenal', 'Liverpool']
['1987-88', 'Liverpool', 'Manchester United']
['1986-87', 'Everton', 'Liverpool']
['1985-86', 'Liverpool', 'Everton']
['1984-85', 'Everton', 'Liverpool']
['1983-84', 'Liverpool', 'Southampton']
['1982-83', 'Liverpool', 'Watford']
['1981-82', 'Liverpool', 'Ipswich Town']
['1980-81', 'Aston Villa', 'Ipswich Town']
['1979-80', 'Liverpool', 'Manchester United']
['1978-79', 'Liverpool', 'Nottingham Forest']
['1977-78', 'Nottingham Forest', 'Liverpool']
['1976-77', 'Liverpool', 'Manchester City']
['1975-76', 'Liverpool', 'Queens Park Rangers']
['1974-75', 'Derby County', 'Liverpool']
['1973-74', 'Leeds United', 'Liverpool']
['1972-73', 'Liverpool', 'Arsenal']
['1971-72', 'Derby County', 'Leeds United']
['1970-71', 'Arsenal', 'Leeds United']
['1969-70', 'Everton', 'Leeds United']
['1968-69', 'Leeds United', 'Liverpool']
['1967-68', 'Manchester City', 'Manchester United']
['1966-67', 'Manchester United', 'Nottingham Forest']
['1965-66', 'Liverpool', 'Leeds United']
['1964-65', 'Manchester United', 'Leeds United']
['1963-64', 'Liverpool', 'Manchester United']
['1962-63', 'Everton', 'Tottenham Hotspur']
['1961-62', 'Ipswich Town', 'Burnley']
['1960-61', 'Tottenham Hotspur', 'Sheffield Wednesday']
['1959-60', 'Burnley', 'Wolverhampton Wanderers']
['1958-59', 'Wolverhampton Wanderers', 'Manchester United']
['1957-58', 'Wolverhampton Wanderers', 'Preston North End']
['1956-57', 'Manchester United', 'Tottenham Hotspur']
['1955-56', 'Manchester United', 'Blackpool']
['1954-55', 'Chelsea', 'Wolverhampton Wanderers']
['1953-54', 'Wolverhampton Wanderers', 'West Bromwich Albion']
['1952-53', 'Arsenal', 'Preston North End']
['1951-52', 'Manchester United', 'Tottenham Hotspur']
['1950-51', 'Tottenham Hotspur', 'Manchester United']
['1949-50', 'Portsmouth', 'Wolverhampton Wanderers']
['1948-49', 'Portsmouth', 'Manchester United']
['1947-48', 'Arsenal', 'Manchester United']
['1946-47', 'Liverpool', 'Manchester United']
['1945-46', 'It was not played because of World War II']
['1944-45', 'It was not played because of World War II']
['1943-44', 'It was not played because of World War II']
['1942-43', 'It was not played because of World War II']
['1941-42', 'It was not played because of World War II']
['1940-41', 'It was not played because of World War II']
['1939-40', 'Discontinued due to World War II']
['1938-39', 'Everton', 'Wolverhampton Wanderers']
['1937-38', 'Arsenal', 'Wolverhampton Wanderers']
['1936-37', 'Manchester City', 'Charlton Athletic']
['1935-36', 'Sunderland', 'Derby County']
['1934-35', 'Arsenal', 'Sunderland']
['1933-34', 'Arsenal', 'Huddersfield Town']
['1932-33', 'Arsenal', 'Aston Villa']
['1931-32', 'Everton', 'Arsenal']
['1930-31', 'Arsenal', 'Aston Villa']
['1929-30', 'Sheffield Wednesday', 'Derby County']
['1928-29', 'Sheffield Wednesday', 'Leicester City']
['1927-28', 'Everton', 'Huddersfield Town']
['1926-27', 'Newcastle United', 'Huddersfield Town']
['1925-26', 'Huddersfield Town', 'Arsenal']
['1924-25', 'Huddersfield Town', 'West Bromwich Albion']
['1923-24', 'Huddersfield Town', 'Cardiff City']
['1922-23', 'Liverpool', 'Sunderland']
['1921-22', 'Liverpool', 'Tottenham Hotspur']
['1920-21', 'Burnley', 'Manchester City']
['1919-20', 'West Bromwich Albion', 'Burnley']
['1918-19', 'It was not played because of World War I']
['1917-18', 'It was not played because of World War I']
['1916-17', 'It was not played because of World War I']
['1915-16', 'It was not played because of World War I']
['1914-15', 'Everton', 'Oldham Athletic']
['1913-14', 'Blackburn Rovers', 'Aston Villa']
['1912-13', 'Sunderland', 'Aston Villa']
['1911-12', 'Blackburn Rovers', 'Everton']
['1910-11', 'Manchester United', 'Aston Villa']
['1909-10', 'Aston Villa', 'Liverpool']
['1908-09', 'Newcastle United', 'Everton']
['1907-08', 'Manchester United', 'Aston Villa']
['1906-07', 'Newcastle United', 'Bristol City']
['1905-06', 'Liverpool', 'Preston North End']
['1904-05', 'Newcastle United', 'Everton']
['1903-04', 'The Wednesday', 'Manchester City']
['1902-03', 'The Wednesday', 'Aston Villa']
['1901-02', 'Sunderland', 'Everton']
['1900-01', 'Liverpool', 'Sunderland']
['1899-00', 'Aston Villa', 'Sheffield United']
['1898-99', 'Aston Villa', 'Liverpool']
['1897-98', 'Sheffield United', 'Sunderland']
['1896-97', 'Aston Villa', 'Sheffield United']
['1895-96', 'Aston Villa', 'Derby County']
['1894-95', 'Sunderland', 'Everton']
['1893-94', 'Aston Villa', 'Sunderland']
['1892-93', 'Sunderland', 'Preston North End']
['1891-92', 'Sunderland', 'Preston North End']
['1890-91', 'Everton', 'Preston North End']
['1889-90', 'Preston North End', 'Everton']
['1888-89', 'Preston North End', 'Aston Villa']

In [7]:
Years = Years[1:]
Winners = Winners[1:]

In [8]:
pastwinners = pd.DataFrame({"Year": Years, "Winner": Winners})
pastwinners

        Year             Winner
0    2024-25          Liverpool
1    2023-24    Manchester City
2    2022-23    Manchester City
3    2021-22    Manchester City
4    2020-21    Manchester City
..       ...                ...
132  1892-93         Sunderland
133  1891-92         Sunderland
134  1890-91            Everton
135  1889-90  Preston North End
136  1888-89  Preston North End

[137 rows x 2 columns]

In [9]:
len(pastwinners)

137

In [10]:
pastwinners.iloc[3:25]

       Year             Winner
3   2021-22    Manchester City
4   2020-21    Manchester City
5   2019-20          Liverpool
6   2018-19    Manchester City
7   2017-18    Manchester City
8   2016-17            Chelsea
9   2015-16     Leicester City
10  2014-15            Chelsea
11  2013-14    Manchester City
12  2012-13  Manchester United
13  2011-12    Manchester City
14  2010-11  Manchester United
15  2009-10            Chelsea
16  2008-09  Manchester United
17  2007-08  Manchester United
18  2006-07  Manchester United
19  2005-06            Chelsea
20  2004-05            Chelsea
21  2003-04            Arsenal
22  2002-03  Manchester United
23  2001-02            Arsenal
24  2000-01  Manchester United

In [11]:
pastwinners['Winner'] = pastwinners['Winner'].replace('Manchester City','Man City')
pastwinners['Winner'] = pastwinners['Winner'].replace('Manchester United','Man United')

In [12]:
count = Counter(pastwinners['Winner'])
count

Counter({'Liverpool': 20,
         'Man United': 20,
         'Arsenal': 13,
         'Man City': 10,
         'Everton': 9,
         'Aston Villa': 7,
         'Chelsea': 6,
         'It was not played because of World War II': 6,
         'Sunderland': 6,
         'Newcastle United': 4,
         'It was not played because of World War I': 4,
         'Blackburn Rovers': 3,
         'Leeds United': 3,
         'Wolverhampton Wanderers': 3,
         'Huddersfield Town': 3,
         'Derby County': 2,
         'Tottenham Hotspur': 2,
         'Burnley': 2,
         'Portsmouth': 2,
         'Sheffield Wednesday': 2,
         'The Wednesday': 2,
         'Preston North End': 2,
         'Leicester City': 1,
         'Nottingham Forest': 1,
         'Ipswich Town': 1,
         'Discontinued due to World War II': 1,
         'West Bromwich Albion': 1,
         'Sheffield United': 1})

In [13]:
Season1 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2000-01.csv") 
ListofTeams = Season1['HomeTeam'].unique().tolist()
ListofTeams

['Charlton',
 'Chelsea',
 'Coventry',
 'Derby',
 'Leeds',
 'Leicester',
 'Liverpool',
 'Sunderland',
 'Tottenham',
 'Man United',
 'Arsenal',
 'Bradford',
 'Ipswich',
 'Middlesbrough',
 'Everton',
 'Man City',
 'Newcastle',
 'Southampton',
 'West Ham',
 'Aston Villa']

In [14]:
for i in range(len(ListofTeams)):
    weightofwinning = count[ListofTeams[i]] / len(pastwinners) * 100
    print(f"Ratio of winning the Premier League for {ListofTeams[i]}: {weightofwinning}")

Ratio of winning the Premier League for Charlton: 0.0
Ratio of winning the Premier League for Chelsea: 4.37956204379562
Ratio of winning the Premier League for Coventry: 0.0
Ratio of winning the Premier League for Derby: 0.0
Ratio of winning the Premier League for Leeds: 0.0
Ratio of winning the Premier League for Leicester: 0.0
Ratio of winning the Premier League for Liverpool: 14.5985401459854
Ratio of winning the Premier League for Sunderland: 4.37956204379562
Ratio of winning the Premier League for Tottenham: 0.0
Ratio of winning the Premier League for Man United: 14.5985401459854
Ratio of winning the Premier League for Arsenal: 9.48905109489051
Ratio of winning the Premier League for Bradford: 0.0
Ratio of winning the Premier League for Ipswich: 0.0
Ratio of winning the Premier League for Middlesbrough: 0.0
Ratio of winning the Premier League for Everton: 6.569343065693431
Ratio of winning the Premier League for Man City: 7.2992700729927
Ratio of winning the Premier League for Newcastle: 0.0
Ratio of winning the Premier League for Southampton: 0.0
Ratio of winning the Premier League for West Ham: 0.0
Ratio of winning the Premier League for Aston Villa: 5.109489051094891

We will need these calculations later because yes I know that soccer is very wild and unpredictable but for my models sake I want this to be as accurate as possible. For example yes Man United has won the Prem 20 times (unforuntately); however Man City has won 4 of the last 6 (and we are definitely winning next year)

Next up I want to get a compiled dataframe together of all the stats/metrics that I think we be useful for predicting what type of team can win the greatest title in English football.

Some of the more advanced metrics I want to capture across all seasons include (and to me, and partly Chat GPT, are important factors for winning):
 - Shot Quality (Shots on Target)
 - Set Piece Goals (Corners, free kicks, penalties)
 - Opponent Shot Quality
 - Number of Clean Sheets
 -  Goal Differential
 - Saves Differential
 - Goal Conversion Rate
 - Number of Bookings (Red and Yellow Cards)

In [15]:
Season1 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2000-01.csv") 
Season2 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2001-02.csv")
Season3 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2002-03.csv")
Season4 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2003-04.csv")
Season5 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2004-05.csv")
Season6 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2005-06.csv")
Season7 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2006-07.csv")
Season8 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2007-08.csv")
Season9 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2008-09.csv")
Season10 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2009-10.csv")
Season11 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2011-12.csv")
Season12 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2012-13.csv")
Season13 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2013-14.csv")
Season14 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2014-15.csv")
Season15 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2015-16.csv")
Season16 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2016-17.csv")
Season17 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2017-18.csv")
Season18 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2018-19.csv")
Season19 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2019-20.csv")

In [16]:
ArrayOfDataFrames = []
ArrayOfDataFrames.append(Season1)
ArrayOfDataFrames.append(Season2)
ArrayOfDataFrames.append(Season3)
ArrayOfDataFrames.append(Season4)
ArrayOfDataFrames.append(Season5)
ArrayOfDataFrames.append(Season6)
ArrayOfDataFrames.append(Season7)
ArrayOfDataFrames.append(Season8)
ArrayOfDataFrames.append(Season9)
ArrayOfDataFrames.append(Season10)
ArrayOfDataFrames.append(Season11)
ArrayOfDataFrames.append(Season12)
ArrayOfDataFrames.append(Season13)
ArrayOfDataFrames.append(Season14)
ArrayOfDataFrames.append(Season15)
ArrayOfDataFrames.append(Season16)
ArrayOfDataFrames.append(Season17)
ArrayOfDataFrames.append(Season18)
ArrayOfDataFrames.append(Season19)

In [17]:
start_idx = Season19[Season19['Date'] == '12/9/2020'].index
end_idx = Season19[Season19['Date'] == '23/05/2021'].index

In [18]:
first_idx = start_idx[0].astype(int)
last_idx = end_idx[-1].astype(int)

In [19]:
first_idx,last_idx

(np.int64(260), np.int64(639))

In [20]:
Season20 = Season19.iloc[first_idx:last_idx + 1]
Season20

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
260,E0,12/9/2020,Fulham,Arsenal,0,3,A,0,1,A,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
261,E0,12/9/2020,Crystal Palace,Southampton,1,0,H,1,0,H,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
262,E0,12/9/2020,Liverpool,Leeds,4,3,H,3,2,H,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
263,E0,12/9/2020,West Ham,Newcastle,0,2,A,0,0,D,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
264,E0,13/09/2020,West Brom,Leicester,0,3,A,0,0,D,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
636,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
637,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
638,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
639,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [21]:
start_idx = Season19[Season19['Date'] == '13/08/2021'].index
end_idx = Season19[Season19['Date'] == '22/05/2022'].index

first_idx = start_idx[0].astype(int)
last_idx = end_idx[-1].astype(int)

In [22]:
Season21 = Season19.iloc[first_idx:last_idx + 1]
Season21

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
640,E0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
641,E0,14/08/2021,Man United,Leeds,5,1,H,1,0,H,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
642,E0,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
643,E0,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
644,E0,14/08/2021,Everton,Southampton,3,1,H,0,1,A,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
1016,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
1017,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
1018,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
1019,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [23]:
ArrayOfDataFrames.append(Season20)
ArrayOfDataFrames.append(Season21)

In [24]:
for i in range(len(ArrayOfDataFrames)):
    ArrayOfDataFrames[i]['Season'] = i
ArrayOfDataFrames[1]

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\3447915459.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\3447915459.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AC,HF,AF,HO,AO,HY,AY,HR,AR,Season
0,E0,18/08/01,Charlton,Everton,1,2,A,0,0,D,...,4,15,17,2,1,0,3,0,0,1
1,E0,18/08/01,Derby,Blackburn,2,1,H,1,0,H,...,10,14,15,3,1,1,0,0,0,1
2,E0,18/08/01,Leeds,Southampton,2,0,H,0,0,D,...,3,16,24,3,2,1,2,0,1,1
3,E0,18/08/01,Leicester,Bolton,0,5,A,0,4,A,...,5,21,17,4,0,4,3,0,0,1
4,E0,18/08/01,Liverpool,West Ham,2,1,H,1,1,D,...,3,13,12,0,6,1,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,11/05/02,Liverpool,Ipswich,5,0,H,2,0,H,...,7,13,5,2,2,0,0,0,0,1
376,E0,11/05/02,Man United,Charlton,0,0,D,0,0,D,...,4,8,7,1,3,2,0,0,0,1
377,E0,11/05/02,Southampton,Newcastle,3,1,H,2,0,H,...,6,15,11,3,5,0,1,1,0,1
378,E0,11/05/02,Sunderland,Derby,1,1,D,1,0,H,...,2,11,14,6,5,0,1,0,0,1
379,E0,11/05/02,West Ham,Bolton,2,1,H,1,0,H,...,5,9,13,3,6,2,1,0,0,1

In [25]:
ArrayOfDataFrames[2]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,E0,17/08/2002,Blackburn,Sunderland,0,0,D,0,0,D,...,3,14,11,9,1,1,2,0,0,2
1,E0,17/08/2002,Charlton,Chelsea,2,3,A,2,1,H,...,12,10,12,3,6,0,3,1,0,2
2,E0,17/08/2002,Everton,Tottenham,2,2,D,1,0,H,...,5,18,4,10,5,1,1,0,0,2
3,E0,17/08/2002,Fulham,Bolton,4,1,H,3,1,H,...,1,16,12,7,4,1,2,0,0,2
4,E0,17/08/2002,Leeds,Man City,3,0,H,2,0,H,...,10,13,13,2,7,1,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,11/05/2003,Leeds,Aston Villa,3,1,H,1,1,D,...,6,18,14,1,8,0,1,0,0,2
376,E0,11/05/2003,Man City,Southampton,0,1,A,0,1,A,...,3,14,14,10,4,3,4,0,0,2
377,E0,11/05/2003,Sunderland,Arsenal,0,4,A,0,2,A,...,13,16,12,6,10,1,0,0,0,2
378,E0,11/05/2003,Tottenham,Blackburn,0,4,A,0,2,A,...,9,9,12,6,3,1,1,1,0,2
379,E0,11/05/2003,West Brom,Newcastle,2,2,D,0,1,A,...,9,9,8,2,8,0,0,0,0,2

In [26]:
ArrayOfDataFrames[3]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,E0,16/08/03,Arsenal,Everton,2,1,H,1,0,H,...,7,8,15,6,9,1,3,1,1,3
1,E0,16/08/03,Birmingham,Tottenham,1,0,H,1,0,H,...,7,20,27,1,4,3,5,0,0,3
2,E0,16/08/03,Blackburn,Wolves,5,1,H,2,0,H,...,5,8,14,6,2,1,1,0,0,3
3,E0,16/08/03,Fulham,Middlesbrough,3,2,H,1,1,D,...,5,18,16,7,6,1,1,0,0,3
4,E0,16/08/03,Leicester,Southampton,2,2,D,2,0,H,...,10,27,15,2,7,3,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/04,Chelsea,Leeds,1,0,H,1,0,H,...,0,5,9,9,2,0,0,0,0,3
376,E0,15/05/04,Liverpool,Newcastle,1,1,D,0,1,A,...,5,11,17,8,1,1,1,0,0,3
377,E0,15/05/04,Man City,Everton,5,1,H,3,0,H,...,0,5,8,7,3,1,1,0,0,3
378,E0,15/05/04,Portsmouth,Middlesbrough,5,1,H,3,1,H,...,4,12,8,7,2,0,0,0,0,3
379,E0,15/05/04,Wolves,Tottenham,0,2,A,0,1,A,...,12,6,11,5,3,1,1,1,0,3

In [27]:
ArrayOfDataFrames[20]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Season
640,E0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,...,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09,20
641,E0,14/08/2021,Man United,Leeds,5,1,H,1,0,H,...,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79,20
642,E0,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,...,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12,20
643,E0,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,...,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82,20
644,E0,14/08/2021,Everton,Southampton,3,1,H,0,1,A,...,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,H,...,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16,20
1016,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,D,...,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01,20
1017,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,D,...,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80,20
1018,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,A,...,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87,20
1019,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,A,...,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89,20

So I figure the best way to accomplish this is to create functions to get each of these advanced metrics.

In [28]:
years = list(range(2000, 2021))

In [29]:
metric_df = pd.DataFrame({' Shot Quality':[],
 'Set Piece Goals (Corners, free kicks, penalties)':[],
 'Opponent Shot Quality':[],
 'Number of Clean Sheets':[],
 'Goal Differential':[],
 'Saves Differential':[],
 'Goal Conversion Rate':[],
 'Number of Bookings (Red and Yellow Cards)':[]})
metric_df

Empty DataFrame
Columns: [ Shot Quality, Set Piece Goals (Corners, free kicks, penalties), Opponent Shot Quality, Number of Clean Sheets, Goal Differential, Saves Differential, Goal Conversion Rate, Number of Bookings (Red and Yellow Cards)]
Index: []

#### Shot Quality (Shots on Target as Compared to Total Shots Taken)
- HST = Home Team Shots on Target
- AST = Away Team Shots on Target
- HS = Home Team Shots
- AS = Away Team Shots

In [30]:
def shots_on_target_to_total_shots(dataframe: pd.DataFrame, teamlist: list) -> list:
    """
    Calculates the ratio of shots on target to total shots for each team in a given DataFrame.

    Parameters
    ----------
    dataframe : pd.DataFrame
        The input DataFrame containing match data with columns:
        'Div', 'HomeTeam', 'AwayTeam', 'HST', 'AST', 'HS', 'AS'.
    teamlist : list
        The list of teams to include in the analysis.

    Returns
    -------
    list
        A list containing the ratio of shots on target to total shots for each team.
        Returns 0 for teams with no shots.
    """
    # Ensure required columns exist
    required_columns = ["HomeTeam", "AwayTeam", "HST", "AST", "HS", "AS"]
    if not all(col in dataframe.columns for col in required_columns):
        raise ValueError(f"DataFrame must contain columns: {required_columns}")

    # Convert relevant columns to numeric, coercing errors to NaN
    dataframe = dataframe.copy()  # Avoid modifying the input DataFrame
    for col in ["HST", "AST", "HS", "AS"]:
        dataframe[col] = pd.to_numeric(dataframe[col], errors="coerce").fillna(0)

    # Initialize result list
    shot_quality = []

    for team in teamlist:
        # Home team stats
        home_mask = dataframe["HomeTeam"] == team
        home_sot = dataframe.loc[home_mask, "HST"].sum()
        home_total = dataframe.loc[home_mask, "HS"].sum()

        # Away team stats
        away_mask = dataframe["AwayTeam"] == team
        away_sot = dataframe.loc[away_mask, "AST"].sum()
        away_total = dataframe.loc[away_mask, "AS"].sum()

        # Total shots on target and total shots
        total_sot = home_sot + away_sot
        total_shots = home_total + away_total

        # Calculate ratio, handle division by zero
        ratio = total_sot / total_shots if total_shots > 0 else 0
        shot_quality.append(ratio)

    return shot_quality

In [35]:
def shot_quality_dataframe(dataframelist: list, ListofTeams: list) -> pd.DataFrame:
    """
    Processes a list of DataFrames to calculate shot quality metrics for each team.

    Parameters
    ----------
    dataframelist : list
        A list of pandas DataFrames, each containing match data.

    Returns
    -------
    pd.DataFrame
        A DataFrame containing shot quality metrics for each team across all seasons.
    """
    if not dataframelist:
        raise ValueError("The input list is empty.")
    
    counter = 0
    shotquality_array = []
    for df in dataframelist:
        ratios = shots_on_target_to_total_shots(df, ListofTeams)
        print(ratios)
        shotquality_array.append(ratios)
        counter += 1
        print(counter)
    #shotquality_array

    team_dict = {team: [] for team in ListofTeams}
    for df in dataframelist:
        ratios = shots_on_target_to_total_shots(df, ListofTeams)
        for i, team in enumerate(ListofTeams):
            team_dict[team].append(ratios[i])

    #team_dict

    for team, ratios in team_dict.items():
        if len(ratios) != len(years):
            raise ValueError(f"Team {team} has {len(ratios)} ratios, but {len(years)} years are expected.")

    # Convert dictionary to DataFrame
    df = pd.DataFrame(team_dict).transpose()
    df.columns = years

    return df

In [36]:
df = shot_quality_dataframe(ArrayOfDataFrames, ListofTeams)
df

[np.float64(0.5817694369973191), np.float64(0.47619047619047616), np.float64(0.455012853470437), np.float64(0.46229508196721314), np.float64(0.48), np.float64(0.48773006134969327), np.float64(0.5102459016393442), np.float64(0.48552338530066813), np.float64(0.4725848563968668), np.float64(0.4748201438848921), np.float64(0.5462962962962963), np.float64(0.46900269541778977), np.float64(0.46028513238289204), np.float64(0.4744318181818182), np.float64(0.4949238578680203), np.float64(0.46153846153846156), np.float64(0.4613526570048309), np.float64(0.42028985507246375), np.float64(0.48210526315789476), np.float64(0.47277936962750716)]
1
[np.float64(0.4797843665768194), np.float64(0.44238683127572015), 0, np.float64(0.47278911564625853), np.float64(0.5), np.float64(0.5197368421052632), np.float64(0.5023474178403756), np.float64(0.46543778801843316), np.float64(0.4320388349514563), np.float64(0.4749536178107607), np.float64(0.5038610038610039), 0, np.float64(0.4701492537313433), np.float64(0.4166666666666667), np.float64(0.5078125), 0, np.float64(0.48060344827586204), np.float64(0.4677871148459384), np.float64(0.47255369928400953), np.float64(0.49476439790575916)]
2
[np.float64(0.5726256983240223), np.float64(0.5454545454545454), 0, 0, np.float64(0.5084745762711864), 0, np.float64(0.5623762376237624), np.float64(0.5030864197530864), np.float64(0.5404040404040404), np.float64(0.5800376647834274), np.float64(0.5943775100401606), 0, 0, 0, np.float64(0.5469107551487414), np.float64(0.5510204081632653), np.float64(0.5807770961145194), np.float64(0.4934782608695652), np.float64(0.48984771573604063), np.float64(0.483402489626556)]
3
[np.float64(0.5208333333333334), np.float64(0.5072765072765073), 0, 0, np.float64(0.5), np.float64(0.5846994535519126), np.float64(0.5376344086021505), 0, np.float64(0.5558194774346793), np.float64(0.5748987854251012), np.float64(0.5796178343949044), 0, 0, np.float64(0.5509761388286334), np.float64(0.5), np.float64(0.566990291262136), np.float64(0.5848214285714286), np.float64(0.5798687089715536), 0, np.float64(0.5168539325842697)]
4
[np.float64(0.5492063492063493), np.float64(0.5703564727954972), 0, 0, 0, 0, np.float64(0.49183673469387756), 0, np.float64(0.5472527472527473), np.float64(0.5413290113452188), np.float64(0.6242171189979123), 0, 0, np.float64(0.5730088495575221), np.float64(0.48429319371727747), np.float64(0.525), np.float64(0.5257731958762887), np.float64(0.4921875), 0, np.float64(0.5214105793450882)]
5
[np.float64(0.49326145552560646), np.float64(0.5389105058365758), 0, 0, 0, 0, np.float64(0.5026642984014209), np.float64(0.543026706231454), np.float64(0.5693430656934306), np.float64(0.5153153153153153), np.float64(0.5930735930735931), 0, 0, np.float64(0.553030303030303), np.float64(0.544973544973545), np.float64(0.4930232558139535), np.float64(0.5621621621621622), 0, np.float64(0.4887005649717514), np.float64(0.5211640211640212)]
6
[np.float64(0.47863247863247865), np.float64(0.5191570881226054), 0, 0, 0, 0, np.float64(0.4831081081081081), 0, np.float64(0.5361990950226244), np.float64(0.5454545454545454), np.float64(0.5139664804469274), 0, 0, np.float64(0.5), np.float64(0.5063613231552163), np.float64(0.5152284263959391), np.float64(0.5209876543209877), 0, np.float64(0.5062972292191436), np.float64(0.5222772277227723)]
7
[0, np.float64(0.5432595573440644), 0, np.float64(0.5432835820895522), 0, 0, np.float64(0.5271828665568369), np.float64(0.5211970074812967), np.float64(0.5841784989858012), np.float64(0.5693548387096774), np.float64(0.5452830188679245), 0, 0, np.float64(0.5606796116504854), np.float64(0.5571428571428572), np.float64(0.5454545454545454), np.float64(0.5325301204819277), 0, np.float64(0.5234741784037559), np.float64(0.533816425120773)]
8
[0, np.float64(0.5472560975609756), 0, 0, 0, 0, np.float64(0.5106732348111659), np.float64(0.5303030303030303), np.float64(0.578838174273859), np.float64(0.605475040257649), np.float64(0.5703971119133574), 0, 0, np.float64(0.5140845070422535), np.float64(0.5484633569739953), np.float64(0.5460122699386503), np.float64(0.5417789757412399), 0, np.float64(0.5622119815668203), np.float64(0.5514705882352942)]
9
[0, np.float64(0.5566714490674318), 0, 0, 0, 0, np.float64(0.5549132947976878), np.float64(0.5625), np.float64(0.5829145728643216), np.float64(0.5584415584415584), np.float64(0.5875), 0, 0, 0, np.float64(0.6019607843137255), np.float64(0.5550660792951542), 0, 0, np.float64(0.5645514223194749), np.float64(0.5571095571095571)]
10
[0, np.float64(0.5422077922077922), 0, 0, 0, 0, np.float64(0.5392156862745098), np.float64(0.5587529976019184), np.float64(0.5874015748031496), np.float64(0.6233108108108109), np.float64(0.6017094017094017), 0, 0, 0, np.float64(0.5337552742616034), np.float64(0.5990990990990991), np.float64(0.565410199556541), 0, 0, np.float64(0.5024752475247525)]
11
[0, np.float64(0.5905096660808435), 0, 0, 0, 0, np.float64(0.5754857997010463), np.float64(0.5846560846560847), np.float64(0.6175040518638574), np.float64(0.583984375), np.float64(0.5970695970695971), 0, 0, 0, np.float64(0.5721925133689839), np.float64(0.5856905158069884), np.float64(0.535031847133758), np.float64(0.5369978858350951), np.float64(0.5694760820045558), np.float64(0.5725190839694656)]
12
[0, np.float64(0.329004329004329), 0, 0, 0, 0, np.float64(0.3984615384615385), np.float64(0.2795918367346939), np.float64(0.3236301369863014), np.float64(0.34476190476190477), np.float64(0.40076335877862596), 0, 0, 0, np.float64(0.3482142857142857), np.float64(0.3536404160475483), np.float64(0.3177892918825561), np.float64(0.3333333333333333), np.float64(0.284688995215311), np.float64(0.3116279069767442)]
13
[0, np.float64(0.37300177619893427), 0, 0, 0, np.float64(0.29978118161925604), np.float64(0.3288135593220339), np.float64(0.3193069306930693), np.float64(0.3282442748091603), np.float64(0.3516699410609037), np.float64(0.37254901960784315), 0, 0, 0, np.float64(0.34297520661157027), np.float64(0.3413173652694611), np.float64(0.30620985010706636), np.float64(0.3359683794466403), np.float64(0.3134020618556701), np.float64(0.30676328502415456)]
14
[0, np.float64(0.3288973384030418), 0, 0, 0, np.float64(0.34608030592734224), np.float64(0.32273449920508746), np.float64(0.32574031890660593), np.float64(0.37821482602118), np.float64(0.3325581395348837), np.float64(0.36713286713286714), 0, 0, 0, np.float64(0.3556910569105691), np.float64(0.3431372549019608), np.float64(0.38190954773869346), np.float64(0.325626204238921), np.float64(0.33093525179856115), np.float64(0.3016304347826087)]
15
[0, np.float64(0.35172413793103446), 0, 0, 0, np.float64(0.33564814814814814), np.float64(0.36990595611285265), np.float64(0.31266149870801035), np.float64(0.3841554559043348), np.float64(0.3565365025466893), np.float64(0.35398230088495575), 0, 0, np.float64(0.28653295128939826), np.float64(0.3855421686746988), np.float64(0.34281200631911535), 0, np.float64(0.3266423357664234), np.float64(0.2782258064516129), 0]
16
[0, np.float64(0.36303630363036304), 0, 0, 0, np.float64(0.35071090047393366), np.float64(0.3640625), 0, np.float64(0.34887459807073956), np.float64(0.35282651072124754), np.float64(0.3942470389170897), 0, 0, 0, np.float64(0.3388888888888889), np.float64(0.3930722891566265), np.float64(0.33407572383073497), np.float64(0.3215077605321508), np.float64(0.35656836461126007), 0]
17
[0, np.float64(0.33210332103321033), 0, 0, 0, np.float64(0.3711340206185567), np.float64(0.4051724137931034), 0, np.float64(0.42), np.float64(0.47619047619047616), np.float64(0.37142857142857144), 0, 0, 0, np.float64(0.3443396226415094), np.float64(0.39), np.float64(0.3128491620111732), np.float64(0.31223628691983124), np.float64(0.3817204301075269), 0]
18
[0, np.float64(0.35895806861499363), 0, 0, np.float64(0.35054617676266137), np.float64(0.3860610806577917), np.float64(0.3623853211009174), 0, np.float64(0.3929992044550517), np.float64(0.38652482269503546), np.float64(0.33605947955390336), 0, 0, 0, np.float64(0.3448275862068966), np.float64(0.355858310626703), np.float64(0.33879781420765026), np.float64(0.3676948051948052), np.float64(0.3718937446443873), np.float64(0.3553338449731389)]
19
[0, np.float64(0.37455197132616486), 0, 0, np.float64(0.38122605363984674), np.float64(0.3822314049586777), np.float64(0.3519736842105263), 0, np.float64(0.3963963963963964), np.float64(0.4069097888675624), np.float64(0.3311546840958606), 0, 0, 0, np.float64(0.37), np.float64(0.36258278145695366), np.float64(0.35768261964735515), np.float64(0.39243498817966904), np.float64(0.3525641025641026), np.float64(0.3659491193737769)]
20
[0, np.float64(0.3564189189189189), 0, 0, np.float64(0.31752577319587627), np.float64(0.38850574712643676), np.float64(0.3506849315068493), 0, np.float64(0.40325865580448067), np.float64(0.36811023622047245), np.float64(0.33503401360544216), 0, 0, 0, np.float64(0.3150684931506849), np.float64(0.35524475524475524), np.float64(0.33035714285714285), np.float64(0.35269709543568467), np.float64(0.3648960739030023), np.float64(0.3568281938325991)]
21

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Charlton,0.581769,0.479784,0.572626,0.520833,0.549206,0.493261,0.478632,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Chelsea,0.476190,0.442387,0.545455,0.507277,0.570356,0.538911,0.519157,0.543260,0.547256,0.556671,...,0.590510,0.329004,0.373002,0.328897,0.351724,0.363036,0.332103,0.358958,0.374552,0.356419
Coventry,0.455013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Derby,0.462295,0.472789,0.000000,0.000000,0.000000,0.000000,0.000000,0.543284,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Leeds,0.480000,0.500000,0.508475,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350546,0.381226,0.317526
Leicester,0.487730,0.519737,0.000000,0.584699,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.299781,0.346080,0.335648,0.350711,0.371134,0.386061,0.382231,0.388506
Liverpool,0.510246,0.502347,0.562376,0.537634,0.491837,0.502664,0.483108,0.527183,0.510673,0.554913,...,0.575486,0.398462,0.328814,0.322734,0.369906,0.364063,0.405172,0.362385,0.351974,0.350685
Sunderland,0.485523,0.465438,0.503086,0.000000,0.000000,0.543027,0.000000,0.521197,0.530303,0.562500,...,0.584656,0.279592,0.319307,0.325740,0.312661,0.000000,0.000000,0.000000,0.000000,0.000000
Tottenham,0.472585,0.432039,0.540404,0.555819,0.547253,0.569343,0.536199,0.584178,0.578838,0.582915,...,0.617504,0.323630,0.328244,0.378215,0.384155,0.348875,0.420000,0.392999,0.396396,0.403259
Man United,0.474820,0.474954,0.580038,0.574899,0.541329,0.515315,0.545455,0.569355,0.605475,0.558442,...,0.583984,0.344762,0.351670,0.332558,0.356537,0.352827,0.476190,0.386525,0.406910,0.368110
Arsenal,0.546296,0.503861,0.594378,0.579618,0.624217,0.593074,0.513966,0.545283,0.570397,0.587500,...,0.597070,0.400763,0.372549,0.367133,0.353982,0.394247,0.371429,0.336059,0.331155,0.335034
Bradford,0.469003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Ipswich,0.460285,0.470149,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Middlesbrough,0.474432,0.416667,0.000000,0.550976,0.573009,0.553030,0.500000,0.560680,0.514085,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.286533,0.000000,0.000000,0.000000,0.000000,0.000000
Everton,0.494924,0.507812,0.546911,0.500000,0.484293,0.544974,0.506361,0.557143,0.548463,0.601961,...,0.572193,0.348214,0.342975,0.355691,0.385542,0.338889,0.344340,0.344828,0.370000,0.315068
Man City,0.461538,0.000000,0.551020,0.566990,0.525000,0.493023,0.515228,0.545455,0.546012,0.555066,...,0.585691,0.353640,0.341317,0.343137,0.342812,0.393072,0.390000,0.355858,0.362583,0.355245
Newcastle,0.461353,0.480603,0.580777,0.584821,0.525773,0.562162,0.520988,0.532530,0.541779,0.000000,...,0.535032,0.317789,0.306210,0.381910,0.000000,0.334076,0.312849,0.338798,0.357683,0.330357
Southampton,0.420290,0.467787,0.493478,0.579869,0.492188,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.536998,0.333333,0.335968,0.325626,0.326642,0.321508,0.312236,0.367695,0.392435,0.352697
West Ham,0.482105,0.472554,0.489848,0.000000,0.000000,0.488701,0.506297,0.523474,0.562212,0.564551,...,0.569476,0.284689,0.313402,0.330935,0.278226,0.356568,0.381720,0.371894,0.352564,0.364896
Aston Villa,0.472779,0.494764,0.483402,0.516854,0.521411,0.521164,0.522277,0.533816,0.551471,0.557110,...,0.572519,0.311628,0.306763,0.301630,0.000000,0.000000,0.000000,0.355334,0.365949,0.356828

## Set Piece Goals (Corners, free kicks, penalties)

- HC = Home Team Corners
- AC = Away Team Corners
- HF = Home Team Fouls Committed
- AF = Away Team Fouls Committed

*I am going off the assumption that fouls equate to freekicks and/or penalty kicks (even though thats not true)*
*Also based on a metric that 75% of penalty kicks are converted*

In [38]:
dataframe = Season13.copy()

In [39]:
required_columns = ["HomeTeam", "AwayTeam", "HC", "AC", "HF", "AF"]
if not all(col in dataframe.columns for col in required_columns):
    raise ValueError(f"DataFrame must contain columns: {required_columns}")

In [40]:
# Convert relevant columns to numeric, coercing errors to NaN
dataframe = dataframe.copy()  # Avoid modifying the input DataFrame
for col in ["HST", "AST", "HS", "AS"]:
    dataframe[col] = pd.to_numeric(dataframe[col], errors="coerce").fillna(0)

In [43]:
workingdataframe = dataframe[required_columns]

Based on the 75% conversion rate, I am going to create two new columns HCR and ACR, which stands for 'Home Conversions' and 'Away Conversions', which will follow the .75 conversion rate?

In [44]:
workingdataframe['HCR'] = workingdataframe['HF'] * .75
workingdataframe['ACR'] = workingdataframe['AF'] * .75
workingdataframe

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\3896649626.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\3896649626.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        HomeTeam     AwayTeam  HC  AC  HF  AF    HCR    ACR
0        Arsenal  Aston Villa   4   3  15  18  11.25  13.50
1      Liverpool        Stoke  12   6  11  11   8.25   8.25
2        Norwich      Everton   6   8  13  10   9.75   7.50
3     Sunderland       Fulham   6   1  14  14  10.50  10.50
4        Swansea   Man United   7   4  13  10   9.75   7.50
..           ...          ...  ..  ..  ..  ..    ...    ...
375      Norwich      Arsenal   4   4   6   5   4.50   3.75
376  Southampton   Man United   6   2  16   5  12.00   3.75
377   Sunderland      Swansea   6   3  14  15  10.50  11.25
378    Tottenham  Aston Villa   5   1  11  11   8.25   8.25
379    West Brom        Stoke  11   6   4   7   3.00   5.25

[380 rows x 8 columns]

In [46]:
workingdataframe['AwayTeam'].value_counts().get('Arsenal',0)

np.int64(19)

In [56]:
holder_dict = {}

In [61]:
for i in ListofTeams: 
        metric = workingdataframe[workingdataframe['HomeTeam'] == i]['HCR']
        occurences = workingdataframe['HomeTeam'].value_counts().get(i,0)
        #print(f"{i}: {(metric.sum()*.75)/occurences}")
        key = i
        value = (metric.sum()*.75)/occurences
        holder_dict[key] = value
holder_dict

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2470506305.py:6: RuntimeWarning:

invalid value encountered in scalar divide

{'Arsenal': np.float64(5.536184210526316),
 'Aston Villa': np.float64(6.927631578947368),
 'Chelsea': np.float64(6.661184210526316),
 'Everton': np.float64(4.884868421052632),
 'Liverpool': np.float64(5.9506578947368425),
 'Man City': np.float64(5.595394736842105),
 'Man United': np.float64(5.536184210526316),
 'Newcastle': np.float64(6.128289473684211),
 'Southampton': np.float64(5.9506578947368425),
 'Sunderland': np.float64(6.9868421052631575),
 'Tottenham': np.float64(5.625),
 'West Ham': np.float64(5.654605263157895),
 'Charlton': np.float64(nan),
 'Coventry': np.float64(nan),
 'Derby': np.float64(nan),
 'Leeds': np.float64(nan),
 'Leicester': np.float64(nan),
 'Bradford': np.float64(nan),
 'Ipswich': np.float64(nan),
 'Middlesbrough': np.float64(nan)}

In [64]:
df = pd.DataFrame.from_dict(holder_dict, orient='index', columns=['Metric'])

# Reset index to make teams a column (optional)
df = df.reset_index().rename(columns={'index': 'Team'})
df['Metric'] = df['Metric'].fillna(0)
df

             Team    Metric
0         Arsenal  5.536184
1     Aston Villa  6.927632
2         Chelsea  6.661184
3         Everton  4.884868
4       Liverpool  5.950658
5        Man City  5.595395
6      Man United  5.536184
7       Newcastle  6.128289
8     Southampton  5.950658
9      Sunderland  6.986842
10      Tottenham  5.625000
11       West Ham  5.654605
12       Charlton  0.000000
13       Coventry  0.000000
14          Derby  0.000000
15          Leeds  0.000000
16      Leicester  0.000000
17       Bradford  0.000000
18        Ipswich  0.000000
19  Middlesbrough  0.000000

In [65]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Team,Arsenal,Aston Villa,Chelsea,Everton,Liverpool,Man City,Man United,Newcastle,Southampton,Sunderland,Tottenham,West Ham,Charlton,Coventry,Derby,Leeds,Leicester,Bradford,Ipswich,Middlesbrough
Metric,5.536184,6.927632,6.661184,4.884868,5.950658,5.595395,5.536184,6.128289,5.950658,6.986842,5.625,5.654605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
list_of_dicts = []
for i in ArrayOfDataFrames:
    required_columns = ["HomeTeam", "AwayTeam", "HC", "AC", "HF", "AF"]
    if not all(col in i.columns for col in required_columns):
        raise ValueError(f"DataFrame must contain columns: {required_columns}")
    
        # Convert relevant columns to numeric, coercing errors to NaN
    i = i.copy()  # Avoid modifying the input DataFrame
    for col in ["HST", "AST", "HS", "AS"]:
        i[col] = pd.to_numeric(i[col], errors="coerce").fillna(0)

    workingdataframe = i[required_columns]

    workingdataframe['HCR'] = workingdataframe['HF'] * .75
    workingdataframe['ACR'] = workingdataframe['AF'] * .75
    holder_dict = {}
    for i in ListofTeams: 
        metric = workingdataframe[workingdataframe['HomeTeam'] == i]['HCR']
        occurences = workingdataframe['HomeTeam'].value_counts().get(i,0)
        #print(f"{i}: {(metric.sum()*.75)/occurences}")
        key = i
        value = (metric.sum()*.75)/occurences
        holder_dict[key] = value
    list_of_dicts.append(holder_dict)
    print(holder_dict)

{'Charlton': np.float64(6.8980263157894735), 'Chelsea': np.float64(7.608552631578948), 'Coventry': np.float64(7.3125), 'Derby': np.float64(7.993421052631579), 'Leeds': np.float64(8.881578947368421), 'Leicester': np.float64(5.565789473684211), 'Liverpool': np.float64(6.483552631578948), 'Sunderland': np.float64(8.467105263157896), 'Tottenham': np.float64(7.993421052631579), 'Man United': np.float64(5.7730263157894735), 'Arsenal': np.float64(7.342105263157895), 'Bradford': np.float64(7.5493421052631575), 'Ipswich': np.float64(5.891447368421052), 'Middlesbrough': np.float64(6.365131578947368), 'Everton': np.float64(7.875), 'Man City': np.float64(8.407894736842104), 'Newcastle': np.float64(8.467105263157896), 'Southampton': np.float64(7.282894736842105), 'West Ham': np.float64(7.786184210526316), 'Aston Villa': np.float64(6.069078947368421)}
{'Charlton': np.float64(7.282894736842105), 'Chelsea': np.float64(6.957236842105263), 'Coventry': np.float64(nan), 'Derby': np.float64(7.7269736842105265), 'Leeds': np.float64(8.111842105263158), 'Leicester': np.float64(8.082236842105264), 'Liverpool': np.float64(6.098684210526316), 'Sunderland': np.float64(7.993421052631579), 'Tottenham': np.float64(6.868421052631579), 'Man United': np.float64(6.542763157894737), 'Arsenal': np.float64(7.667763157894737), 'Bradford': np.float64(nan), 'Ipswich': np.float64(5.417763157894737), 'Middlesbrough': np.float64(7.342105263157895), 'Everton': np.float64(7.904605263157895), 'Man City': np.float64(nan), 'Newcastle': np.float64(7.194078947368421), 'Southampton': np.float64(7.904605263157895), 'West Ham': np.float64(6.690789473684211), 'Aston Villa': np.float64(6.75)}
{'Charlton': np.float64(6.957236842105263), 'Chelsea': np.float64(5.921052631578948), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(8.259868421052632), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.595394736842105), 'Sunderland': np.float64(8.49671052631579), 'Tottenham': np.float64(8.023026315789474), 'Man United': np.float64(6.1875), 'Arsenal': np.float64(6.868421052631579), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(7.519736842105263), 'Man City': np.float64(6.0394736842105265), 'Newcastle': np.float64(5.921052631578948), 'Southampton': np.float64(7.490131578947368), 'West Ham': np.float64(7.875), 'Aston Villa': np.float64(7.194078947368421)}
{'Charlton': np.float64(6.690789473684211), 'Chelsea': np.float64(5.980263157894737), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(8.230263157894736), 'Leicester': np.float64(7.6381578947368425), 'Liverpool': np.float64(6.6019736842105265), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(7.490131578947368), 'Man United': np.float64(6.009868421052632), 'Arsenal': np.float64(6.9868421052631575), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(7.016447368421052), 'Everton': np.float64(6.572368421052632), 'Man City': np.float64(5.358552631578948), 'Newcastle': np.float64(7.3125), 'Southampton': np.float64(6.9868421052631575), 'West Ham': np.float64(nan), 'Aston Villa': np.float64(8.348684210526315)}
{'Charlton': np.float64(6.661184210526316), 'Chelsea': np.float64(6.690789473684211), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.713815789473684), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(6.6019736842105265), 'Man United': np.float64(6.4243421052631575), 'Arsenal': np.float64(6.4243421052631575), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(7.105263157894737), 'Everton': np.float64(7.105263157894737), 'Man City': np.float64(6.394736842105263), 'Newcastle': np.float64(6.690789473684211), 'Southampton': np.float64(6.572368421052632), 'West Ham': np.float64(nan), 'Aston Villa': np.float64(7.3125)}
{'Charlton': np.float64(7.401315789473684), 'Chelsea': np.float64(6.453947368421052), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.7730263157894735), 'Sunderland': np.float64(7.608552631578948), 'Tottenham': np.float64(6.868421052631579), 'Man United': np.float64(6.631578947368421), 'Arsenal': np.float64(6.720394736842105), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(7.342105263157895), 'Everton': np.float64(8.023026315789474), 'Man City': np.float64(7.845394736842105), 'Newcastle': np.float64(9.177631578947368), 'Southampton': np.float64(nan), 'West Ham': np.float64(7.194078947368421), 'Aston Villa': np.float64(8.141447368421053)}
{'Charlton': np.float64(6.631578947368421), 'Chelsea': np.float64(6.5131578947368425), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(6.128289473684211), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(4.8256578947368425), 'Man United': np.float64(6.305921052631579), 'Arsenal': np.float64(5.625), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(6.631578947368421), 'Everton': np.float64(7.786184210526316), 'Man City': np.float64(8.111842105263158), 'Newcastle': np.float64(7.371710526315789), 'Southampton': np.float64(nan), 'West Ham': np.float64(8.289473684210526), 'Aston Villa': np.float64(7.134868421052632)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.631578947368421), 'Coventry': np.float64(nan), 'Derby': np.float64(7.046052631578948), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(6.009868421052632), 'Sunderland': np.float64(7.0756578947368425), 'Tottenham': np.float64(6.069078947368421), 'Man United': np.float64(5.536184210526316), 'Arsenal': np.float64(5.447368421052632), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(7.223684210526316), 'Everton': np.float64(6.9868421052631575), 'Man City': np.float64(5.595394736842105), 'Newcastle': np.float64(6.779605263157895), 'Southampton': np.float64(nan), 'West Ham': np.float64(7.608552631578948), 'Aston Villa': np.float64(7.519736842105263)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(5.743421052631579), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.802631578947368), 'Sunderland': np.float64(5.743421052631579), 'Tottenham': np.float64(6.394736842105263), 'Man United': np.float64(5.921052631578948), 'Arsenal': np.float64(5.921052631578948), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(6.128289473684211), 'Everton': np.float64(6.9868421052631575), 'Man City': np.float64(6.690789473684211), 'Newcastle': np.float64(5.832236842105263), 'Southampton': np.float64(nan), 'West Ham': np.float64(6.3355263157894735), 'Aston Villa': np.float64(5.654605263157895)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.276315789473684), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(6.069078947368421), 'Sunderland': np.float64(7.608552631578948), 'Tottenham': np.float64(5.8618421052631575), 'Man United': np.float64(5.9506578947368425), 'Arsenal': np.float64(5.713815789473684), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(6.009868421052632), 'Man City': np.float64(5.980263157894737), 'Newcastle': np.float64(nan), 'Southampton': np.float64(nan), 'West Ham': np.float64(6.927631578947368), 'Aston Villa': np.float64(6.6019736842105265)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.246710526315789), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.3881578947368425), 'Sunderland': np.float64(5.417763157894737), 'Tottenham': np.float64(4.7368421052631575), 'Man United': np.float64(5.654605263157895), 'Arsenal': np.float64(5.654605263157895), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(6.661184210526316), 'Man City': np.float64(5.240131578947368), 'Newcastle': np.float64(5.4769736842105265), 'Southampton': np.float64(nan), 'West Ham': np.float64(nan), 'Aston Villa': np.float64(5.536184210526316)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(5.240131578947368), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.2993421052631575), 'Sunderland': np.float64(6.069078947368421), 'Tottenham': np.float64(4.9144736842105265), 'Man United': np.float64(5.447368421052632), 'Arsenal': np.float64(5.595394736842105), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(6.1875), 'Man City': np.float64(6.098684210526316), 'Newcastle': np.float64(6.6019736842105265), 'Southampton': np.float64(5.802631578947368), 'West Ham': np.float64(6.4243421052631575), 'Aston Villa': np.float64(6.157894736842105)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.661184210526316), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(nan), 'Liverpool': np.float64(5.9506578947368425), 'Sunderland': np.float64(6.9868421052631575), 'Tottenham': np.float64(5.625), 'Man United': np.float64(5.536184210526316), 'Arsenal': np.float64(5.536184210526316), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(4.884868421052632), 'Man City': np.float64(5.595394736842105), 'Newcastle': np.float64(6.128289473684211), 'Southampton': np.float64(5.9506578947368425), 'West Ham': np.float64(5.654605263157895), 'Aston Villa': np.float64(6.927631578947368)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(5.921052631578948), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(6.661184210526316), 'Liverpool': np.float64(5.625), 'Sunderland': np.float64(6.453947368421052), 'Tottenham': np.float64(6.483552631578948), 'Man United': np.float64(6.6019736842105265), 'Arsenal': np.float64(5.2993421052631575), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(5.4769736842105265), 'Man City': np.float64(6.927631578947368), 'Newcastle': np.float64(6.157894736842105), 'Southampton': np.float64(6.868421052631579), 'West Ham': np.float64(6.0394736842105265), 'Aston Villa': np.float64(5.654605263157895)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.157894736842105), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(5.2993421052631575), 'Liverpool': np.float64(5.328947368421052), 'Sunderland': np.float64(5.151315789473684), 'Tottenham': np.float64(6.394736842105263), 'Man United': np.float64(6.809210526315789), 'Arsenal': np.float64(5.032894736842105), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(4.322368421052632), 'Man City': np.float64(5.832236842105263), 'Newcastle': np.float64(5.980263157894737), 'Southampton': np.float64(5.684210526315789), 'West Ham': np.float64(5.506578947368421), 'Aston Villa': np.float64(5.743421052631579)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(5.4769736842105265), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(5.9506578947368425), 'Liverpool': np.float64(5.743421052631579), 'Sunderland': np.float64(6.542763157894737), 'Tottenham': np.float64(6.1875), 'Man United': np.float64(7.371710526315789), 'Arsenal': np.float64(5.921052631578948), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(6.217105263157895), 'Everton': np.float64(6.365131578947368), 'Man City': np.float64(5.565789473684211), 'Newcastle': np.float64(nan), 'Southampton': np.float64(6.098684210526316), 'West Ham': np.float64(5.684210526315789), 'Aston Villa': np.float64(nan)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(5.417763157894737), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(5.328947368421052), 'Liverpool': np.float64(4.9144736842105265), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(5.240131578947368), 'Man United': np.float64(6.0394736842105265), 'Arsenal': np.float64(5.506578947368421), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(6.927631578947368), 'Man City': np.float64(5.003289473684211), 'Newcastle': np.float64(6.128289473684211), 'Southampton': np.float64(5.625), 'West Ham': np.float64(5.713815789473684), 'Aston Villa': np.float64(nan)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(4.9375), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(nan), 'Leicester': np.float64(6.1875), 'Liverpool': np.float64(5.464285714285714), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(6.75), 'Man United': np.float64(6.6796875), 'Arsenal': np.float64(6.8125), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(6.4375), 'Man City': np.float64(4.9921875), 'Newcastle': np.float64(6.5625), 'Southampton': np.float64(6.428571428571429), 'West Ham': np.float64(5.5), 'Aston Villa': np.float64(nan)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.022058823529412), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(6.853618421052632), 'Leicester': np.float64(5.658088235294118), 'Liverpool': np.float64(5.272058823529412), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(6.286764705882353), 'Man United': np.float64(6.033088235294118), 'Arsenal': np.float64(5.779411764705882), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(5.547794117647059), 'Man City': np.float64(5.084558823529412), 'Newcastle': np.float64(5.889705882352941), 'Southampton': np.float64(6.2536764705882355), 'West Ham': np.float64(5.349264705882353), 'Aston Villa': np.float64(6.352941176470588)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.542763157894737), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(6.720394736842105), 'Leicester': np.float64(6.5131578947368425), 'Liverpool': np.float64(6.0394736842105265), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(7.0756578947368425), 'Man United': np.float64(6.483552631578948), 'Arsenal': np.float64(5.625), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(5.743421052631579), 'Man City': np.float64(5.3881578947368425), 'Newcastle': np.float64(5.891447368421052), 'Southampton': np.float64(6.542763157894737), 'West Ham': np.float64(5.832236842105263), 'Aston Villa': np.float64(6.868421052631579)}
{'Charlton': np.float64(nan), 'Chelsea': np.float64(6.305921052631579), 'Coventry': np.float64(nan), 'Derby': np.float64(nan), 'Leeds': np.float64(6.9868421052631575), 'Leicester': np.float64(4.973684210526316), 'Liverpool': np.float64(5.092105263157895), 'Sunderland': np.float64(nan), 'Tottenham': np.float64(6.157894736842105), 'Man United': np.float64(5.003289473684211), 'Arsenal': np.float64(5.2993421052631575), 'Bradford': np.float64(nan), 'Ipswich': np.float64(nan), 'Middlesbrough': np.float64(nan), 'Everton': np.float64(4.944078947368421), 'Man City': np.float64(4.707236842105263), 'Newcastle': np.float64(6.1875), 'Southampton': np.float64(6.098684210526316), 'West Ham': np.float64(4.796052631578948), 'Aston Villa': np.float64(5.625)}

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:22: RuntimeWarning:

invalid value encountered in scalar divide

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2294215567.py:14: SettingWithCopyWarning:



In [73]:
df = pd.DataFrame(list_of_dicts, index=years)
df

,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,Man United,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
2000,6.898026,7.608553,7.3125,7.993421,8.881579,5.565789,6.483553,8.467105,7.993421,5.773026,7.342105,7.549342,5.891447,6.365132,7.875000,8.407895,8.467105,7.282895,7.786184,6.069079
2001,7.282895,6.957237,NaN,7.726974,8.111842,8.082237,6.098684,7.993421,6.868421,6.542763,7.667763,NaN,5.417763,7.342105,7.904605,NaN,7.194079,7.904605,6.690789,6.750000
2002,6.957237,5.921053,NaN,NaN,8.259868,NaN,5.595395,8.496711,8.023026,6.187500,6.868421,NaN,NaN,NaN,7.519737,6.039474,5.921053,7.490132,7.875000,7.194079
2003,6.690789,5.980263,NaN,NaN,8.230263,7.638158,6.601974,NaN,7.490132,6.009868,6.986842,NaN,NaN,7.016447,6.572368,5.358553,7.312500,6.986842,NaN,8.348684
2004,6.661184,6.690789,NaN,NaN,NaN,NaN,5.713816,NaN,6.601974,6.424342,6.424342,NaN,NaN,7.105263,7.105263,6.394737,6.690789,6.572368,NaN,7.312500
2005,7.401316,6.453947,NaN,NaN,NaN,NaN,5.773026,7.608553,6.868421,6.631579,6.720395,NaN,NaN,7.342105,8.023026,7.845395,9.177632,NaN,7.194079,8.141447
2006,6.631579,6.513158,NaN,NaN,NaN,NaN,6.128289,NaN,4.825658,6.305921,5.625000,NaN,NaN,6.631579,7.786184,8.111842,7.371711,NaN,8.289474,7.134868
2007,NaN,6.631579,NaN,7.046053,NaN,NaN,6.009868,7.075658,6.069079,5.536184,5.447368,NaN,NaN,7.223684,6.986842,5.595395,6.779605,NaN,7.608553,7.519737
2008,NaN,5.743421,NaN,NaN,NaN,NaN,5.802632,5.743421,6.394737,5.921053,5.921053,NaN,NaN,6.128289,6.986842,6.690789,5.832237,NaN,6.335526,5.654605
2009,NaN,6.276316,NaN,NaN,NaN,NaN,6.069079,7.608553,5.861842,5.950658,5.713816,NaN,NaN,NaN,6.009868,5.980263,NaN,NaN,6.927632,6.601974
2010,NaN,6.246711,NaN,NaN,NaN,NaN,5.388158,5.417763,4.736842,5.654605,5.654605,NaN,NaN,NaN,6.661184,5.240132,5.476974,NaN,NaN,5.536184
2011,NaN,5.240132,NaN,NaN,NaN,NaN,5.299342,6.069079,4.914474,5.447368,5.595395,NaN,NaN,NaN,6.187500,6.098684,6.601974,5.802632,6.424342,6.157895
2012,NaN,6.661184,NaN,NaN,NaN,NaN,5.950658,6.986842,5.625000,5.536184,5.536184,NaN,NaN,NaN,4.884868,5.595395,6.128289,5.950658,5.654605,6.927632
2013,NaN,5.921053,NaN,NaN,NaN,6.661184,5.625000,6.453947,6.483553,6.601974,5.299342,NaN,NaN,NaN,5.476974,6.927632,6.157895,6.868421,6.039474,5.654605
2014,NaN,6.157895,NaN,NaN,NaN,5.299342,5.328947,5.151316,6.394737,6.809211,5.032895,NaN,NaN,NaN,4.322368,5.832237,5.980263,5.684211,5.506579,5.743421
2015,NaN,5.476974,NaN,NaN,NaN,5.950658,5.743421,6.542763,6.187500,7.371711,5.921053,NaN,NaN,6.217105,6.365132,5.565789,NaN,6.098684,5.684211,NaN
2016,NaN,5.417763,NaN,NaN,NaN,5.328947,4.914474,NaN,5.240132,6.039474,5.506579,NaN,NaN,NaN,6.927632,5.003289,6.128289,5.625000,5.713816,NaN
2017,NaN,4.937500,NaN,NaN,NaN,6.187500,5.464286,NaN,6.750000,6.679688,6.812500,NaN,NaN,NaN,6.437500,4.992188,6.562500,6.428571,5.500000,NaN
2018,NaN,6.022059,NaN,NaN,6.853618,5.658088,5.272059,NaN,6.286765,6.033088,5.779412,NaN,NaN,NaN,5.547794,5.084559,5.889706,6.253676,5.349265,6.352941
2019,NaN,6.542763,NaN,NaN,6.720395,6.513158,6.039474,NaN,7.075658,6.483553,5.625000,NaN,NaN,NaN,5.743421,5.388158,5.891447,6.542763,5.832237,6.868421
2020,NaN,6.305921,NaN,NaN,6.986842,4.973684,5.092105,NaN,6.157895,5.003289,5.299342,NaN,NaN,NaN,4.944079,4.707237,6.187500,6.098684,4.796053,5.625000

In [74]:
df = df.fillna(0)

In [75]:
df

,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,Man United,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
2000,6.898026,7.608553,7.3125,7.993421,8.881579,5.565789,6.483553,8.467105,7.993421,5.773026,7.342105,7.549342,5.891447,6.365132,7.875000,8.407895,8.467105,7.282895,7.786184,6.069079
2001,7.282895,6.957237,0.0000,7.726974,8.111842,8.082237,6.098684,7.993421,6.868421,6.542763,7.667763,0.000000,5.417763,7.342105,7.904605,0.000000,7.194079,7.904605,6.690789,6.750000
2002,6.957237,5.921053,0.0000,0.000000,8.259868,0.000000,5.595395,8.496711,8.023026,6.187500,6.868421,0.000000,0.000000,0.000000,7.519737,6.039474,5.921053,7.490132,7.875000,7.194079
2003,6.690789,5.980263,0.0000,0.000000,8.230263,7.638158,6.601974,0.000000,7.490132,6.009868,6.986842,0.000000,0.000000,7.016447,6.572368,5.358553,7.312500,6.986842,0.000000,8.348684
2004,6.661184,6.690789,0.0000,0.000000,0.000000,0.000000,5.713816,0.000000,6.601974,6.424342,6.424342,0.000000,0.000000,7.105263,7.105263,6.394737,6.690789,6.572368,0.000000,7.312500
2005,7.401316,6.453947,0.0000,0.000000,0.000000,0.000000,5.773026,7.608553,6.868421,6.631579,6.720395,0.000000,0.000000,7.342105,8.023026,7.845395,9.177632,0.000000,7.194079,8.141447
2006,6.631579,6.513158,0.0000,0.000000,0.000000,0.000000,6.128289,0.000000,4.825658,6.305921,5.625000,0.000000,0.000000,6.631579,7.786184,8.111842,7.371711,0.000000,8.289474,7.134868
2007,0.000000,6.631579,0.0000,7.046053,0.000000,0.000000,6.009868,7.075658,6.069079,5.536184,5.447368,0.000000,0.000000,7.223684,6.986842,5.595395,6.779605,0.000000,7.608553,7.519737
2008,0.000000,5.743421,0.0000,0.000000,0.000000,0.000000,5.802632,5.743421,6.394737,5.921053,5.921053,0.000000,0.000000,6.128289,6.986842,6.690789,5.832237,0.000000,6.335526,5.654605
2009,0.000000,6.276316,0.0000,0.000000,0.000000,0.000000,6.069079,7.608553,5.861842,5.950658,5.713816,0.000000,0.000000,0.000000,6.009868,5.980263,0.000000,0.000000,6.927632,6.601974
2010,0.000000,6.246711,0.0000,0.000000,0.000000,0.000000,5.388158,5.417763,4.736842,5.654605,5.654605,0.000000,0.000000,0.000000,6.661184,5.240132,5.476974,0.000000,0.000000,5.536184
2011,0.000000,5.240132,0.0000,0.000000,0.000000,0.000000,5.299342,6.069079,4.914474,5.447368,5.595395,0.000000,0.000000,0.000000,6.187500,6.098684,6.601974,5.802632,6.424342,6.157895
2012,0.000000,6.661184,0.0000,0.000000,0.000000,0.000000,5.950658,6.986842,5.625000,5.536184,5.536184,0.000000,0.000000,0.000000,4.884868,5.595395,6.128289,5.950658,5.654605,6.927632
2013,0.000000,5.921053,0.0000,0.000000,0.000000,6.661184,5.625000,6.453947,6.483553,6.601974,5.299342,0.000000,0.000000,0.000000,5.476974,6.927632,6.157895,6.868421,6.039474,5.654605
2014,0.000000,6.157895,0.0000,0.000000,0.000000,5.299342,5.328947,5.151316,6.394737,6.809211,5.032895,0.000000,0.000000,0.000000,4.322368,5.832237,5.980263,5.684211,5.506579,5.743421
2015,0.000000,5.476974,0.0000,0.000000,0.000000,5.950658,5.743421,6.542763,6.187500,7.371711,5.921053,0.000000,0.000000,6.217105,6.365132,5.565789,0.000000,6.098684,5.684211,0.000000
2016,0.000000,5.417763,0.0000,0.000000,0.000000,5.328947,4.914474,0.000000,5.240132,6.039474,5.506579,0.000000,0.000000,0.000000,6.927632,5.003289,6.128289,5.625000,5.713816,0.000000
2017,0.000000,4.937500,0.0000,0.000000,0.000000,6.187500,5.464286,0.000000,6.750000,6.679688,6.812500,0.000000,0.000000,0.000000,6.437500,4.992188,6.562500,6.428571,5.500000,0.000000
2018,0.000000,6.022059,0.0000,0.000000,6.853618,5.658088,5.272059,0.000000,6.286765,6.033088,5.779412,0.000000,0.000000,0.000000,5.547794,5.084559,5.889706,6.253676,5.349265,6.352941
2019,0.000000,6.542763,0.0000,0.000000,6.720395,6.513158,6.039474,0.000000,7.075658,6.483553,5.625000,0.000000,0.000000,0.000000,5.743421,5.388158,5.891447,6.542763,5.832237,6.868421
2020,0.000000,6.305921,0.0000,0.000000,6.986842,4.973684,5.092105,0.000000,6.157895,5.003289,5.299342,0.000000,0.000000,0.000000,4.944079,4.707237,6.187500,6.098684,4.796053,5.625000

## Away Shot Quality

How I like to describe this metric is when the team is the AWAY team, how do they shoot? What is the conversion ratio?

In [76]:
dataframe = Season14

In [78]:
required_columns = ["AwayTeam", "AC", "AS", "AST","FTAG"]
if not all(col in dataframe.columns for col in required_columns):
    raise ValueError(f"DataFrame must contain columns: {required_columns}")

    # Convert relevant columns to numeric, coercing errors to NaN
dataframe = dataframe.copy()  # Avoid modifying the input DataFrame
for col in ["AST", "AS","AC","FTAG"]:
    dataframe[col] = pd.to_numeric(dataframe[col], errors="coerce").fillna(0)

workingdataframe = dataframe[required_columns]
workingdataframe

           AwayTeam  AC  AS  AST  FTAG
0    Crystal Palace   3   4    2     1
1           Everton   6  13    3     2
2           Swansea   0   5    4     2
3              Hull   9  11    4     1
4       Aston Villa   8   7    2     1
..              ...  ..  ..  ...   ...
375      Man United   1   7    1     0
376             QPR   6  18    2     1
377     Southampton   4  13    4     0
378        West Ham   3   4    1     0
379       Liverpool   9  13    4     1

[380 rows x 5 columns]

In [79]:
workingdataframe['ASQ'] = workingdataframe['AS'] / workingdataframe['AST'] #this is the ratio for shots over shot quality
workingdataframe['ACR'] = workingdataframe['AST'] / workingdataframe['FTAG'] #this is the ratio for conversation ratio (shots over shots on Target)
workingdataframe

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\1550329359.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\1550329359.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           AwayTeam  AC  AS  AST  FTAG       ASQ  ACR
0    Crystal Palace   3   4    2     1  2.000000  2.0
1           Everton   6  13    3     2  4.333333  1.5
2           Swansea   0   5    4     2  1.250000  2.0
3              Hull   9  11    4     1  2.750000  4.0
4       Aston Villa   8   7    2     1  3.500000  2.0
..              ...  ..  ..  ...   ...       ...  ...
375      Man United   1   7    1     0  7.000000  inf
376             QPR   6  18    2     1  9.000000  2.0
377     Southampton   4  13    4     0  3.250000  inf
378        West Ham   3   4    1     0  4.000000  inf
379       Liverpool   9  13    4     1  3.250000  4.0

[380 rows x 7 columns]

In [ ]:
workingdataframe['ACR'][375]

numpy.float64

In [82]:
holder_dict = {}

In [86]:
workingdataframe

           AwayTeam  AC  AS  AST  FTAG       ASQ  ACR
0    Crystal Palace   3   4    2     1  2.000000  2.0
1           Everton   6  13    3     2  4.333333  1.5
2           Swansea   0   5    4     2  1.250000  2.0
3              Hull   9  11    4     1  2.750000  4.0
4       Aston Villa   8   7    2     1  3.500000  2.0
..              ...  ..  ..  ...   ...       ...  ...
375      Man United   1   7    1     0  7.000000  inf
376             QPR   6  18    2     1  9.000000  2.0
377     Southampton   4  13    4     0  3.250000  inf
378        West Ham   3   4    1     0  4.000000  inf
379       Liverpool   9  13    4     1  3.250000  4.0

[380 rows x 7 columns]

One of the things about this dataset is the fact that not all the teams have 19 away games (which is standard in the Premier League). Because of this fact we get alot of infinity and NA values for the ACR columns, so for this project we are going to focus on the ASQ.

In [91]:
for i in ListofTeams: 
        metric = workingdataframe[workingdataframe['AwayTeam'] == i]['ASQ']
        occurences = workingdataframe['AwayTeam'].value_counts().get(i,0)
        if occurences == 0:
                occurences = 19
        print(f"{i}: {occurences}")
        key = i
        value = (metric.sum())/occurences
        holder_dict[key] = value
holder_dict

Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19

{'Charlton': np.float64(0.0),
 'Chelsea': np.float64(3.4073706994759627),
 'Coventry': np.float64(0.0),
 'Derby': np.float64(0.0),
 'Leeds': np.float64(0.0),
 'Leicester': np.float64(inf),
 'Liverpool': np.float64(3.6062865497076024),
 'Sunderland': np.float64(3.449039264828739),
 'Tottenham': np.float64(3.191353383458647),
 'Man United': np.float64(3.5878028404344193),
 'Arsenal': np.float64(inf),
 'Bradford': np.float64(0.0),
 'Ipswich': np.float64(0.0),
 'Middlesbrough': np.float64(0.0),
 'Everton': np.float64(3.0474937343358395),
 'Man City': np.float64(3.6595864661654134),
 'Newcastle': np.float64(4.46578947368421),
 'Southampton': np.float64(3.6938596491228073),
 'West Ham': np.float64(inf),
 'Aston Villa': np.float64(3.8721804511278193)}

In [92]:
def away_shot_quality(ListofArray: list, ListofTeams: list) -> pd.DataFrame:
    """
    Processes a list of DataFrames to calculate away shot quality metrics for each team.

    Parameters
    ----------
    ListofArray : list
        A list of pandas DataFrames, each containing match data.
    ListofTeams : list
        A list of teams to calculate the away shot quality for.

    Returns
    -------
    pd.DataFrame
        A DataFrame containing away shot quality metrics for each team across all seasons.
    """
    if not ListofArray:
        raise ValueError("The input list is empty.")
    
    counter = 0
    shotquality_array = []
    for dataframe in ListofArray:
        required_columns = ["AwayTeam", "AC", "AS", "AST","FTAG"]
        if not all(col in dataframe.columns for col in required_columns):
            raise ValueError(f"DataFrame must contain columns: {required_columns}")

        # Convert relevant columns to numeric, coercing errors to NaN
        dataframe = dataframe.copy()  # Avoid modifying the input DataFrame
        for col in ["AST", "AS","AC","FTAG"]:
            dataframe[col] = pd.to_numeric(dataframe[col], errors="coerce").fillna(0)

        workingdataframe = dataframe[required_columns]
        workingdataframe['ASQ'] = workingdataframe['AS'] / workingdataframe['AST'] #this is the ratio for shots over shot quality
        workingdataframe['ACR'] = workingdataframe['AST'] / workingdataframe['FTAG'] #this is the ratio for conversation ratio (shots over shots on Target)

        holder_dict = {}
        for i in ListofTeams: 
            metric = workingdataframe[workingdataframe['AwayTeam'] == i]['ASQ']
            occurences = workingdataframe['AwayTeam'].value_counts().get(i,0)
            if occurences == 0:
                occurences = 19
            print(f"{i}: {occurences}")
            key = i
            value = (metric.sum())/occurences
            holder_dict[key] = value
        shotquality_array.append(holder_dict)
        counter += 1
        print(counter)

    df = pd.DataFrame(shotquality_array, index=years)
    df = df.fillna(0)

    return df

In [ ]:
df = away_shot_quality(ArrayOfDataFrames, ListofTeams)
df = df.replace([np.inf, -np.inf],np.nan)
df = df.fillna(df.mean(axis=1))
df

Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
1
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
2
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
3
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
4
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
5
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
6
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
7
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
8
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
9
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
10
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
11
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
12
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
13
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
14
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
15
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
16
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
17
Charlton: 19
Chelsea: 7
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 8
Liverpool: 9
Sunderland: 19
Tottenham: 10
Man United: 8
Arsenal: 7
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 7
Man City: 8
Newcastle: 7
Southampton: 9
West Ham: 7
Aston Villa: 19
18
Charlton: 19
Chelsea: 51
Coventry: 19
Derby: 19
Leeds: 38
Leicester: 51
Liverpool: 51
Sunderland: 19
Tottenham: 51
Man United: 51
Arsenal: 51
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 51
Man City: 51
Newcastle: 51
Southampton: 51
West Ham: 51
Aston Villa: 51
19
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
20
Charlton: 19
Chelsea: 19
Coventry: 19
Derby: 19
Leeds: 19
Leicester: 19
Liverpool: 19
Sunderland: 19
Tottenham: 19
Man United: 19
Arsenal: 19
Bradford: 19
Ipswich: 19
Middlesbrough: 19
Everton: 19
Man City: 19
Newcastle: 19
Southampton: 19
West Ham: 19
Aston Villa: 19
21

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2208663244.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,Man United,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
2000,1.900689,2.435885,2.286779,2.255764,NaN,2.492669,2.390799,2.569788,2.209148,2.210710,2.464487,2.503008,2.353509,NaN,2.581454,2.446867,2.269737,2.643860,2.226775,2.446053
2001,NaN,2.981140,0.000000,2.048246,1.965142,NaN,1.882859,NaN,NaN,2.037657,2.000611,0.000000,2.883041,2.864912,NaN,0.000000,2.663095,2.257018,2.525689,2.455531
2002,2.018170,NaN,0.000000,0.000000,1.793985,0.000000,2.238331,NaN,2.209023,1.833738,1.911297,0.000000,0.000000,0.000000,1.971805,2.343087,NaN,2.412531,3.407946,2.498580
2003,NaN,1.961738,0.000000,0.000000,NaN,2.042836,2.252908,0.000000,NaN,1.669215,1.962281,0.000000,0.000000,NaN,NaN,1.914649,1.750752,1.864109,0.000000,2.489280
2004,NaN,1.786742,0.000000,0.000000,0.000000,0.000000,2.542565,0.000000,2.436675,2.007466,1.977174,0.000000,0.000000,2.085160,2.348392,2.342025,2.131307,NaN,0.000000,2.136341
2005,2.106600,2.026319,0.000000,0.000000,0.000000,0.000000,2.331795,NaN,1.800752,2.318901,2.341296,0.000000,0.000000,2.040184,2.030702,2.294904,NaN,0.000000,2.433083,2.101868
2006,2.326316,2.002757,0.000000,0.000000,0.000000,0.000000,2.119353,0.000000,2.299812,NaN,2.458480,0.000000,0.000000,NaN,2.183208,NaN,2.262022,0.000000,NaN,1.879282
2007,0.000000,2.040100,0.000000,NaN,0.000000,0.000000,2.021121,2.318170,1.941667,2.019785,1.973067,0.000000,0.000000,2.193039,1.882735,2.384211,1.841019,0.000000,2.323067,1.871053
2008,0.000000,1.967387,0.000000,0.000000,0.000000,0.000000,2.004073,NaN,1.700877,1.816991,1.922824,0.000000,0.000000,2.415357,1.962093,2.210338,NaN,0.000000,NaN,2.203600
2009,0.000000,2.065502,0.000000,0.000000,0.000000,0.000000,2.059991,1.973641,2.080777,2.038937,1.919032,0.000000,0.000000,0.000000,1.655834,1.805776,0.000000,0.000000,1.951221,1.803655
2010,0.000000,1.829837,0.000000,0.000000,0.000000,0.000000,1.795811,NaN,1.764046,1.743651,1.619007,0.000000,0.000000,0.000000,2.253634,1.828014,1.921674,0.000000,0.000000,2.365112
2011,0.000000,1.872657,0.000000,0.000000,0.000000,0.000000,1.727390,1.696115,1.789312,1.831715,1.792198,0.000000,0.000000,0.000000,1.811906,1.735916,2.022063,2.114912,2.179790,1.890121
2012,0.000000,4.062719,0.000000,0.000000,0.000000,0.000000,2.624582,NaN,3.610088,2.992732,2.636654,0.000000,0.000000,0.000000,3.605263,3.282540,3.710422,3.724373,NaN,NaN
2013,0.000000,3.407371,0.000000,0.000000,0.000000,NaN,3.606287,3.449039,3.191353,3.587803,NaN,0.000000,0.000000,0.000000,3.047494,3.659586,4.465789,3.693860,NaN,3.872180
2014,0.000000,3.331955,0.000000,0.000000,0.000000,2.786717,3.684858,2.912573,3.006473,3.531955,2.770635,0.000000,0.000000,0.000000,NaN,3.132101,NaN,3.500627,3.407393,3.908521
2015,0.000000,NaN,0.000000,0.000000,0.000000,NaN,3.476031,4.017293,3.016040,3.629052,3.252381,0.000000,0.000000,NaN,NaN,3.130890,0.000000,NaN,3.307519,0.000000
2016,0.000000,NaN,0.000000,0.000000,0.000000,4.313105,3.364703,0.000000,3.147243,3.099624,NaN,0.000000,0.000000,0.000000,NaN,3.095426,3.393421,NaN,3.153509,0.000000
2017,0.000000,4.250000,0.000000,0.000000,0.000000,2.608333,2.579101,0.000000,3.133571,2.660417,3.154453,0.000000,0.000000,0.000000,2.832143,2.441815,NaN,4.302778,2.773810,0.000000
2018,0.000000,3.327373,0.000000,0.000000,NaN,2.879318,3.076984,0.000000,NaN,2.784352,NaN,0.000000,0.000000,0.000000,NaN,3.261352,NaN,3.313002,NaN,NaN
2019,0.000000,3.453488,0.000000,0.000000,3.185004,2.907811,3.616980,0.000000,3.085965,2.868672,3.338722,0.000000,0.000000,0.000000,3.278195,3.412573,3.221930,3.141228,NaN,2.998246
2020,0.000000,3.330201,0.000000,0.000000,NaN,3.003634,2.821241,0.000000,NaN,2.698246,NaN,0.000000,0.000000,0.000000,NaN,3.396261,3.737936,3.921930,3.505931,NaN

### Number of clean sheets

- This metric represents the number of times the HOME team stopped the AWAY team from scoring ANY goals (for this, yes I am counting draws as clean sheets for both.)

In [109]:
Season10

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Season
0,E0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,...,1.92,1.91,1.81,21,0.00,1.28,1.22,4.40,3.99,9
1,E0,15/08/09,Blackburn,Man City,0,2,A,0,1,A,...,2.04,1.78,1.71,24,0.00,2.58,2.38,1.60,1.54,9
2,E0,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,...,2.12,1.70,1.66,23,0.00,1.68,1.61,2.33,2.23,9
3,E0,15/08/09,Chelsea,Hull,2,1,H,1,1,D,...,1.58,2.44,2.26,22,0.00,1.03,1.02,17.05,12.96,9
4,E0,15/08/09,Everton,Arsenal,1,6,A,0,3,A,...,2.06,1.77,1.70,24,0.00,2.27,2.20,1.73,1.63,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,09/05/10,Everton,Portsmouth,1,0,H,0,0,D,...,1.56,2.40,2.30,15,0.00,1.10,1.06,10.00,7.72,9
376,E0,09/05/10,Hull,Liverpool,0,0,D,0,0,D,...,1.71,2.23,2.05,15,0.00,5.00,4.38,1.20,1.18,9
377,E0,09/05/10,Man United,Stoke,4,0,H,2,0,H,...,1.50,2.63,2.46,14,-2.25,2.08,2.02,1.91,1.85,9
378,E0,09/05/10,West Ham,Man City,1,1,D,1,1,D,...,1.60,2.30,2.20,13,0.00,3.25,2.99,1.44,1.35,9
379,E0,09/05/10,Wolves,Sunderland,2,1,H,1,1,D,...,1.92,1.94,1.84,21,0.00,1.73,1.64,2.33,2.16,9

In [116]:
dataframe[dataframe['HomeTeam'] == 'Man City']['FTAG'].sum()

np.int64(14)

In [118]:
counter = 0
workingdataframe = Season10[['HomeTeam','AwayTeam','FTAG']]
workingdataframe['FTAG'] = pd.to_numeric(workingdataframe['FTAG'], errors="coerce").fillna(0)
for i in ListofTeams:
    metric = workingdataframe[workingdataframe['HomeTeam'] == i]['FTAG']
    #print(metric.sum())
    print(f"{i}: {metric.sum()}")

Charlton: 0
Chelsea: 14
Coventry: 0
Derby: 0
Leeds: 0
Leicester: 0
Liverpool: 15
Sunderland: 19
Tottenham: 12
Man United: 12
Arsenal: 15
Bradford: 0
Ipswich: 0
Middlesbrough: 0
Everton: 21
Man City: 20
Newcastle: 0
Southampton: 0
West Ham: 29
Aston Villa: 16

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\2100424088.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [120]:
def clean_sheets(ListofDataframes: list, ListofTeams: list) -> pd.DataFrame:
    """
    Processes a list of DataFrames to calculate the number of clean sheets for each team.

    Parameters
    ----------
    ListofDataframes : list
        A list of pandas DataFrames, each containing match data.
    ListofTeams : list
        A list of teams to calculate the number of clean sheets for.

    Returns
    -------
    pd.DataFrame
        A DataFrame containing the number of clean sheets for each team across all seasons.
    """
    if not ListofDataframes:
        raise ValueError("The input list is empty.")
    
    counter = 0
    clean_sheets_array = []
    for dataframe in ListofDataframes:
        workingdataframe = dataframe[['HomeTeam','AwayTeam','FTAG']]
        workingdataframe['FTAG'] = pd.to_numeric(workingdataframe['FTAG'], errors="coerce").fillna(0)
        
        holder_dict = {}
        for i in ListofTeams: 
            metric = workingdataframe[workingdataframe['HomeTeam'] == i]['FTAG']
            key = i
            value = metric.sum()
            holder_dict[key] = value
        clean_sheets_array.append(holder_dict)
        counter += 1
        print(counter)

    df = pd.DataFrame(clean_sheets_array, index=years)
    df = df.fillna(0)

    return df

In [121]:
df = clean_sheets(ArrayOfDataFrames, ListofTeams)
df

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_24068\274877167.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,Man United,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
2000,19,20,23,24,21,23,14,16,16,12,13,29,15,23,27,31,17,22,20,20
2001,30,21,0,26,21,34,14,16,24,17,25,0,24,26,23,0,23,22,14,17
2002,30,15,0,0,26,0,16,31,29,12,20,0,0,0,19,26,17,16,24,14
2003,29,13,0,0,31,28,15,0,27,15,14,0,0,23,20,24,14,17,0,19
2004,29,6,0,0,0,0,15,0,22,12,19,0,0,19,15,14,25,30,0,17
2005,21,9,0,0,0,0,8,37,16,8,13,0,0,30,22,20,15,0,25,20
2006,20,11,0,0,0,0,7,0,22,12,16,0,0,24,17,16,20,0,26,14
2007,0,13,0,43,0,0,13,21,34,7,11,0,0,23,17,20,26,0,24,22
2008,0,12,0,0,0,0,13,25,10,13,16,0,0,20,20,18,29,0,22,21
2009,0,14,0,0,0,0,15,19,12,12,15,0,0,0,21,20,0,0,29,16
2010,0,24,0,0,0,0,16,17,17,19,17,0,0,0,15,12,17,0,0,25
2011,0,16,0,0,0,0,16,19,18,19,23,0,0,0,17,15,31,24,22,28
2012,0,11,0,0,0,0,18,27,23,21,11,0,0,0,19,13,28,23,26,29
2013,0,9,0,0,0,22,20,27,24,15,14,0,0,0,21,14,27,13,18,25
2014,0,30,0,0,0,18,22,20,15,9,11,0,0,0,30,21,24,22,26,35
2015,0,17,0,0,0,25,18,34,9,12,16,0,0,23,16,17,0,21,31,0
2016,0,16,0,0,0,22,10,0,16,9,20,0,0,0,22,14,17,26,26,0
2017,0,7,0,0,0,8,1,0,6,11,8,0,0,0,9,5,15,10,14,0
2018,0,54,0,0,59,67,38,0,51,62,56,0,0,0,67,44,72,79,73,80
2019,0,18,0,0,21,30,20,0,20,28,21,0,0,0,28,17,33,25,22,27
2020,0,22,0,0,38,23,9,0,19,22,17,0,0,0,25,15,27,24,26,29

### Differentials (Goal and Saves Differential)