In [150]:
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
import chart_studio.plotly as py
import plotly.express as px
from collections import Counter
import pandas as pd
import collections
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import lxml
from urllib.request import urlopen
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
import os
import plotly.graph_objects as go
import numpy as np

So for this file we are going to prepare the data to be used in a model in further notebooks to help predict what type of team 'profile' is needed to win the Premier League.

In [151]:
Link = "https://www.marca.com/en/football/premier-league/winners.html"

In [152]:
response = requests.get(Link)

response.raise_for_status()  # Check for request errors

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

In [153]:
table = soup.find('table')

In [154]:
rows  = table.find_all('tr')  # Find all rows in the table

In [155]:

Years = []
Winners = []
for row in rows:
    cells = row.find_all(['td', 'th'])
    cell_data = [cell.get_text(strip=True) for cell in cells]
    Years.append(cell_data[0])
    Winners.append(cell_data[1])
    #cell_data_array.append(cell_data)
    print(cell_data)

['Year', 'Winner', 'Runners-up']
['2024-25', 'Liverpool', 'Arsenal']
['2023-24', 'Manchester City', 'Arsenal']
['2022-23', 'Manchester City', 'Arsenal']
['2021-22', 'Manchester City', 'Liverpool']
['2020-21', 'Manchester City', 'Manchester United']
['2019-20', 'Liverpool', 'Manchester City']
['2018-19', 'Manchester City', 'Liverpool']
['2017-18', 'Manchester City', 'Manchester United']
['2016-17', 'Chelsea', 'Tottenham Hotspur']
['2015-16', 'Leicester City', 'Arsenal']
['2014-15', 'Chelsea', 'Manchester City']
['2013-14', 'Manchester City', 'Liverpool']
['2012-13', 'Manchester United', 'Manchester City']
['2011-12', 'Manchester City', 'Manchester United']
['2010-11', 'Manchester United', 'Chelsea']
['2009-10', 'Chelsea', 'Manchester United']
['2008-09', 'Manchester United', 'Liverpool']
['2007-08', 'Manchester United', 'Chelsea']
['2006-07', 'Manchester United', 'Chelsea']
['2005-06', 'Chelsea', 'Manchester United']
['2004-05', 'Chelsea', 'Arsenal']
['2003-04', 'Arsenal', 'Chelsea']
['2002-03', 'Manchester United', 'Arsenal']
['2001-02', 'Arsenal', 'Liverpool']
['2000-01', 'Manchester United', 'Arsenal']
['1999-00', 'Manchester United', 'Arsenal']
['1998-99', 'Manchester United', 'Arsenal']
['1997-98', 'Arsenal', 'Manchester United']
['1996-97', 'Manchester United', 'Newcastle United']
['1995-96', 'Manchester United', 'Newcastle United']
['1994-95', 'Blackburn Rovers', 'Manchester United']
['1993-94', 'Manchester United', 'Blackburn Rovers']
['1992-93', 'Manchester United', 'Aston Villa']
['1991-92', 'Leeds United', 'Manchester United']
['1990-91', 'Arsenal', 'Liverpool']
['1989-90', 'Liverpool', 'Aston Villa']
['1988-89', 'Arsenal', 'Liverpool']
['1987-88', 'Liverpool', 'Manchester United']
['1986-87', 'Everton', 'Liverpool']
['1985-86', 'Liverpool', 'Everton']
['1984-85', 'Everton', 'Liverpool']
['1983-84', 'Liverpool', 'Southampton']
['1982-83', 'Liverpool', 'Watford']
['1981-82', 'Liverpool', 'Ipswich Town']
['1980-81', 'Aston Villa', 'Ipswich Town']
['1979-80', 'Liverpool', 'Manchester United']
['1978-79', 'Liverpool', 'Nottingham Forest']
['1977-78', 'Nottingham Forest', 'Liverpool']
['1976-77', 'Liverpool', 'Manchester City']
['1975-76', 'Liverpool', 'Queens Park Rangers']
['1974-75', 'Derby County', 'Liverpool']
['1973-74', 'Leeds United', 'Liverpool']
['1972-73', 'Liverpool', 'Arsenal']
['1971-72', 'Derby County', 'Leeds United']
['1970-71', 'Arsenal', 'Leeds United']
['1969-70', 'Everton', 'Leeds United']
['1968-69', 'Leeds United', 'Liverpool']
['1967-68', 'Manchester City', 'Manchester United']
['1966-67', 'Manchester United', 'Nottingham Forest']
['1965-66', 'Liverpool', 'Leeds United']
['1964-65', 'Manchester United', 'Leeds United']
['1963-64', 'Liverpool', 'Manchester United']
['1962-63', 'Everton', 'Tottenham Hotspur']
['1961-62', 'Ipswich Town', 'Burnley']
['1960-61', 'Tottenham Hotspur', 'Sheffield Wednesday']
['1959-60', 'Burnley', 'Wolverhampton Wanderers']
['1958-59', 'Wolverhampton Wanderers', 'Manchester United']
['1957-58', 'Wolverhampton Wanderers', 'Preston North End']
['1956-57', 'Manchester United', 'Tottenham Hotspur']
['1955-56', 'Manchester United', 'Blackpool']
['1954-55', 'Chelsea', 'Wolverhampton Wanderers']
['1953-54', 'Wolverhampton Wanderers', 'West Bromwich Albion']
['1952-53', 'Arsenal', 'Preston North End']
['1951-52', 'Manchester United', 'Tottenham Hotspur']
['1950-51', 'Tottenham Hotspur', 'Manchester United']
['1949-50', 'Portsmouth', 'Wolverhampton Wanderers']
['1948-49', 'Portsmouth', 'Manchester United']
['1947-48', 'Arsenal', 'Manchester United']
['1946-47', 'Liverpool', 'Manchester United']
['1945-46', 'It was not played because of World War II']
['1944-45', 'It was not played because of World War II']
['1943-44', 'It was not played because of World War II']
['1942-43', 'It was not played because of World War II']
['1941-42', 'It was not played because of World War II']
['1940-41', 'It was not played because of World War II']
['1939-40', 'Discontinued due to World War II']
['1938-39', 'Everton', 'Wolverhampton Wanderers']
['1937-38', 'Arsenal', 'Wolverhampton Wanderers']
['1936-37', 'Manchester City', 'Charlton Athletic']
['1935-36', 'Sunderland', 'Derby County']
['1934-35', 'Arsenal', 'Sunderland']
['1933-34', 'Arsenal', 'Huddersfield Town']
['1932-33', 'Arsenal', 'Aston Villa']
['1931-32', 'Everton', 'Arsenal']
['1930-31', 'Arsenal', 'Aston Villa']
['1929-30', 'Sheffield Wednesday', 'Derby County']
['1928-29', 'Sheffield Wednesday', 'Leicester City']
['1927-28', 'Everton', 'Huddersfield Town']
['1926-27', 'Newcastle United', 'Huddersfield Town']
['1925-26', 'Huddersfield Town', 'Arsenal']
['1924-25', 'Huddersfield Town', 'West Bromwich Albion']
['1923-24', 'Huddersfield Town', 'Cardiff City']
['1922-23', 'Liverpool', 'Sunderland']
['1921-22', 'Liverpool', 'Tottenham Hotspur']
['1920-21', 'Burnley', 'Manchester City']
['1919-20', 'West Bromwich Albion', 'Burnley']
['1918-19', 'It was not played because of World War I']
['1917-18', 'It was not played because of World War I']
['1916-17', 'It was not played because of World War I']
['1915-16', 'It was not played because of World War I']
['1914-15', 'Everton', 'Oldham Athletic']
['1913-14', 'Blackburn Rovers', 'Aston Villa']
['1912-13', 'Sunderland', 'Aston Villa']
['1911-12', 'Blackburn Rovers', 'Everton']
['1910-11', 'Manchester United', 'Aston Villa']
['1909-10', 'Aston Villa', 'Liverpool']
['1908-09', 'Newcastle United', 'Everton']
['1907-08', 'Manchester United', 'Aston Villa']
['1906-07', 'Newcastle United', 'Bristol City']
['1905-06', 'Liverpool', 'Preston North End']
['1904-05', 'Newcastle United', 'Everton']
['1903-04', 'The Wednesday', 'Manchester City']
['1902-03', 'The Wednesday', 'Aston Villa']
['1901-02', 'Sunderland', 'Everton']
['1900-01', 'Liverpool', 'Sunderland']
['1899-00', 'Aston Villa', 'Sheffield United']
['1898-99', 'Aston Villa', 'Liverpool']
['1897-98', 'Sheffield United', 'Sunderland']
['1896-97', 'Aston Villa', 'Sheffield United']
['1895-96', 'Aston Villa', 'Derby County']
['1894-95', 'Sunderland', 'Everton']
['1893-94', 'Aston Villa', 'Sunderland']
['1892-93', 'Sunderland', 'Preston North End']
['1891-92', 'Sunderland', 'Preston North End']
['1890-91', 'Everton', 'Preston North End']
['1889-90', 'Preston North End', 'Everton']
['1888-89', 'Preston North End', 'Aston Villa']

In [156]:
Years = Years[1:]
Winners = Winners[1:]

In [157]:
pastwinners = pd.DataFrame({"Year": Years, "Winner": Winners})
pastwinners

        Year             Winner
0    2024-25          Liverpool
1    2023-24    Manchester City
2    2022-23    Manchester City
3    2021-22    Manchester City
4    2020-21    Manchester City
..       ...                ...
132  1892-93         Sunderland
133  1891-92         Sunderland
134  1890-91            Everton
135  1889-90  Preston North End
136  1888-89  Preston North End

[137 rows x 2 columns]

In [158]:
len(pastwinners)

137

In [159]:
pastwinners.iloc[3:25]

       Year             Winner
3   2021-22    Manchester City
4   2020-21    Manchester City
5   2019-20          Liverpool
6   2018-19    Manchester City
7   2017-18    Manchester City
8   2016-17            Chelsea
9   2015-16     Leicester City
10  2014-15            Chelsea
11  2013-14    Manchester City
12  2012-13  Manchester United
13  2011-12    Manchester City
14  2010-11  Manchester United
15  2009-10            Chelsea
16  2008-09  Manchester United
17  2007-08  Manchester United
18  2006-07  Manchester United
19  2005-06            Chelsea
20  2004-05            Chelsea
21  2003-04            Arsenal
22  2002-03  Manchester United
23  2001-02            Arsenal
24  2000-01  Manchester United

In [160]:
pastwinners['Winner'] = pastwinners['Winner'].replace('Manchester City','Man City')
pastwinners['Winner'] = pastwinners['Winner'].replace('Manchester United','Man United')

In [161]:
count = Counter(pastwinners['Winner'])
count

Counter({'Liverpool': 20,
         'Man United': 20,
         'Arsenal': 13,
         'Man City': 10,
         'Everton': 9,
         'Aston Villa': 7,
         'Chelsea': 6,
         'It was not played because of World War II': 6,
         'Sunderland': 6,
         'Newcastle United': 4,
         'It was not played because of World War I': 4,
         'Blackburn Rovers': 3,
         'Leeds United': 3,
         'Wolverhampton Wanderers': 3,
         'Huddersfield Town': 3,
         'Derby County': 2,
         'Tottenham Hotspur': 2,
         'Burnley': 2,
         'Portsmouth': 2,
         'Sheffield Wednesday': 2,
         'The Wednesday': 2,
         'Preston North End': 2,
         'Leicester City': 1,
         'Nottingham Forest': 1,
         'Ipswich Town': 1,
         'Discontinued due to World War II': 1,
         'West Bromwich Albion': 1,
         'Sheffield United': 1})

In [162]:
Season1 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2000-01.csv") 
ListofTeams = Season1['HomeTeam'].unique().tolist()
ListofTeams

['Charlton',
 'Chelsea',
 'Coventry',
 'Derby',
 'Leeds',
 'Leicester',
 'Liverpool',
 'Sunderland',
 'Tottenham',
 'Man United',
 'Arsenal',
 'Bradford',
 'Ipswich',
 'Middlesbrough',
 'Everton',
 'Man City',
 'Newcastle',
 'Southampton',
 'West Ham',
 'Aston Villa']

In [163]:
for i in range(len(ListofTeams)):
    weightofwinning = count[ListofTeams[i]] / len(pastwinners) * 100
    print(f"Ratio of winning the Premier League for {ListofTeams[i]}: {weightofwinning}")

Ratio of winning the Premier League for Charlton: 0.0
Ratio of winning the Premier League for Chelsea: 4.37956204379562
Ratio of winning the Premier League for Coventry: 0.0
Ratio of winning the Premier League for Derby: 0.0
Ratio of winning the Premier League for Leeds: 0.0
Ratio of winning the Premier League for Leicester: 0.0
Ratio of winning the Premier League for Liverpool: 14.5985401459854
Ratio of winning the Premier League for Sunderland: 4.37956204379562
Ratio of winning the Premier League for Tottenham: 0.0
Ratio of winning the Premier League for Man United: 14.5985401459854
Ratio of winning the Premier League for Arsenal: 9.48905109489051
Ratio of winning the Premier League for Bradford: 0.0
Ratio of winning the Premier League for Ipswich: 0.0
Ratio of winning the Premier League for Middlesbrough: 0.0
Ratio of winning the Premier League for Everton: 6.569343065693431
Ratio of winning the Premier League for Man City: 7.2992700729927
Ratio of winning the Premier League for Newcastle: 0.0
Ratio of winning the Premier League for Southampton: 0.0
Ratio of winning the Premier League for West Ham: 0.0
Ratio of winning the Premier League for Aston Villa: 5.109489051094891

We will need these calculations later because yes I know that soccer is very wild and unpredictable but for my models sake I want this to be as accurate as possible. For example yes Man United has won the Prem 20 times (unforuntately); however Man City has won 4 of the last 6 (and we are definitely winning next year)

Next up I want to get a compiled dataframe together of all the stats/metrics that I think we be useful for predicting what type of team can win the greatest title in English football.

Some of the more advanced metrics I want to capture across all seasons include (and to me, and partly Chat GPT, are important factors for winning):
 - Shot Quality (Shots on Target)
 - Set Piece Goals (Corners, free kicks, penalties)
 - Opponent Shot Quality
 - Number of Clean Sheets
 -  Goal Differential
 - Saves Differential
 - Goal Conversion Rate
 - Number of Bookings (Red and Yellow Cards)

In [164]:
Season1 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2000-01.csv") 
Season2 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2001-02.csv")
Season3 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2002-03.csv")
Season4 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2003-04.csv")
Season5 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2004-05.csv")
Season6 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2005-06.csv")
Season7 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2006-07.csv")
Season8 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2007-08.csv")
Season9 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2008-09.csv")
Season10 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2009-10.csv")
Season11 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2011-12.csv")
Season12 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2012-13.csv")
Season13 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2013-14.csv")
Season14 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2014-15.csv")
Season15 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2015-16.csv")
Season16 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2016-17.csv")
Season17 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2017-18.csv")
Season18 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2018-19.csv")
Season19 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2019-20.csv")

In [165]:
ArrayOfDataFrames = []
ArrayOfDataFrames.append(Season1)
ArrayOfDataFrames.append(Season2)
ArrayOfDataFrames.append(Season3)
ArrayOfDataFrames.append(Season4)
ArrayOfDataFrames.append(Season5)
ArrayOfDataFrames.append(Season6)
ArrayOfDataFrames.append(Season7)
ArrayOfDataFrames.append(Season8)
ArrayOfDataFrames.append(Season9)
ArrayOfDataFrames.append(Season10)
ArrayOfDataFrames.append(Season11)
ArrayOfDataFrames.append(Season12)
ArrayOfDataFrames.append(Season13)
ArrayOfDataFrames.append(Season14)
ArrayOfDataFrames.append(Season15)
ArrayOfDataFrames.append(Season16)
ArrayOfDataFrames.append(Season17)
ArrayOfDataFrames.append(Season18)
ArrayOfDataFrames.append(Season19)

In [166]:
start_idx = Season19[Season19['Date'] == '12/9/2020'].index
end_idx = Season19[Season19['Date'] == '23/05/2021'].index

In [167]:
first_idx = start_idx[0].astype(int)
last_idx = end_idx[-1].astype(int)

In [168]:
first_idx,last_idx

(np.int64(260), np.int64(639))

In [169]:
Season20 = Season19.iloc[first_idx:last_idx + 1]
Season20

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
260,E0,12/9/2020,Fulham,Arsenal,0,3,A,0,1,A,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
261,E0,12/9/2020,Crystal Palace,Southampton,1,0,H,1,0,H,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
262,E0,12/9/2020,Liverpool,Leeds,4,3,H,3,2,H,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
263,E0,12/9/2020,West Ham,Newcastle,0,2,A,0,0,D,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
264,E0,13/09/2020,West Brom,Leicester,0,3,A,0,0,D,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
636,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
637,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
638,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
639,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [170]:
start_idx = Season19[Season19['Date'] == '13/08/2021'].index
end_idx = Season19[Season19['Date'] == '22/05/2022'].index

first_idx = start_idx[0].astype(int)
last_idx = end_idx[-1].astype(int)

In [171]:
Season21 = Season19.iloc[first_idx:last_idx + 1]
Season21

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
640,E0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
641,E0,14/08/2021,Man United,Leeds,5,1,H,1,0,H,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
642,E0,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
643,E0,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
644,E0,14/08/2021,Everton,Southampton,3,1,H,0,1,A,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
1016,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
1017,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
1018,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
1019,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [172]:
ArrayOfDataFrames.append(Season20)
ArrayOfDataFrames.append(Season21)

In [173]:
for i in range(len(ArrayOfDataFrames)):
    ArrayOfDataFrames[i]['Season'] = i
ArrayOfDataFrames[1]

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_32144\3447915459.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\JosephMoffatt\AppData\Local\Temp\ipykernel_32144\3447915459.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AC,HF,AF,HO,AO,HY,AY,HR,AR,Season
0,E0,18/08/01,Charlton,Everton,1,2,A,0,0,D,...,4,15,17,2,1,0,3,0,0,1
1,E0,18/08/01,Derby,Blackburn,2,1,H,1,0,H,...,10,14,15,3,1,1,0,0,0,1
2,E0,18/08/01,Leeds,Southampton,2,0,H,0,0,D,...,3,16,24,3,2,1,2,0,1,1
3,E0,18/08/01,Leicester,Bolton,0,5,A,0,4,A,...,5,21,17,4,0,4,3,0,0,1
4,E0,18/08/01,Liverpool,West Ham,2,1,H,1,1,D,...,3,13,12,0,6,1,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,11/05/02,Liverpool,Ipswich,5,0,H,2,0,H,...,7,13,5,2,2,0,0,0,0,1
376,E0,11/05/02,Man United,Charlton,0,0,D,0,0,D,...,4,8,7,1,3,2,0,0,0,1
377,E0,11/05/02,Southampton,Newcastle,3,1,H,2,0,H,...,6,15,11,3,5,0,1,1,0,1
378,E0,11/05/02,Sunderland,Derby,1,1,D,1,0,H,...,2,11,14,6,5,0,1,0,0,1
379,E0,11/05/02,West Ham,Bolton,2,1,H,1,0,H,...,5,9,13,3,6,2,1,0,0,1

In [174]:
ArrayOfDataFrames[2]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,E0,17/08/2002,Blackburn,Sunderland,0,0,D,0,0,D,...,3,14,11,9,1,1,2,0,0,2
1,E0,17/08/2002,Charlton,Chelsea,2,3,A,2,1,H,...,12,10,12,3,6,0,3,1,0,2
2,E0,17/08/2002,Everton,Tottenham,2,2,D,1,0,H,...,5,18,4,10,5,1,1,0,0,2
3,E0,17/08/2002,Fulham,Bolton,4,1,H,3,1,H,...,1,16,12,7,4,1,2,0,0,2
4,E0,17/08/2002,Leeds,Man City,3,0,H,2,0,H,...,10,13,13,2,7,1,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,11/05/2003,Leeds,Aston Villa,3,1,H,1,1,D,...,6,18,14,1,8,0,1,0,0,2
376,E0,11/05/2003,Man City,Southampton,0,1,A,0,1,A,...,3,14,14,10,4,3,4,0,0,2
377,E0,11/05/2003,Sunderland,Arsenal,0,4,A,0,2,A,...,13,16,12,6,10,1,0,0,0,2
378,E0,11/05/2003,Tottenham,Blackburn,0,4,A,0,2,A,...,9,9,12,6,3,1,1,1,0,2
379,E0,11/05/2003,West Brom,Newcastle,2,2,D,0,1,A,...,9,9,8,2,8,0,0,0,0,2

In [175]:
ArrayOfDataFrames[3]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Season
0,E0,16/08/03,Arsenal,Everton,2,1,H,1,0,H,...,7,8,15,6,9,1,3,1,1,3
1,E0,16/08/03,Birmingham,Tottenham,1,0,H,1,0,H,...,7,20,27,1,4,3,5,0,0,3
2,E0,16/08/03,Blackburn,Wolves,5,1,H,2,0,H,...,5,8,14,6,2,1,1,0,0,3
3,E0,16/08/03,Fulham,Middlesbrough,3,2,H,1,1,D,...,5,18,16,7,6,1,1,0,0,3
4,E0,16/08/03,Leicester,Southampton,2,2,D,2,0,H,...,10,27,15,2,7,3,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/04,Chelsea,Leeds,1,0,H,1,0,H,...,0,5,9,9,2,0,0,0,0,3
376,E0,15/05/04,Liverpool,Newcastle,1,1,D,0,1,A,...,5,11,17,8,1,1,1,0,0,3
377,E0,15/05/04,Man City,Everton,5,1,H,3,0,H,...,0,5,8,7,3,1,1,0,0,3
378,E0,15/05/04,Portsmouth,Middlesbrough,5,1,H,3,1,H,...,4,12,8,7,2,0,0,0,0,3
379,E0,15/05/04,Wolves,Tottenham,0,2,A,0,1,A,...,12,6,11,5,3,1,1,1,0,3

So I figure the best way to accomplish this is to create functions to get each of these advanced metrics.

In [176]:
metric_df = pd.DataFrame({' Shot Quality':[],
 'Set Piece Goals (Corners, free kicks, penalties)':[],
 'Opponent Shot Quality':[],
 'Number of Clean Sheets':[],
 'Goal Differential':[],
 'Saves Differential':[],
 'Goal Conversion Rate':[],
 'Number of Bookings (Red and Yellow Cards)':[]})
metric_df

Empty DataFrame
Columns: [ Shot Quality, Set Piece Goals (Corners, free kicks, penalties), Opponent Shot Quality, Number of Clean Sheets, Goal Differential, Saves Differential, Goal Conversion Rate, Number of Bookings (Red and Yellow Cards)]
Index: []

#### Shot Quality (Shots on Target as Compared to Total Shots Taken)
- HST = Home Team Shots on Target
- AST = Away Team Shots on Target
- HS = Home Team Shots
- AS = Away Team Shots

In [177]:
shotquality_df = pd.DataFrame({"SeasonNumber": [], "Team Name":[]})
#shotquality_df['Team Name'] = ListofTeams
shotquality_df['SeasonNumber'] = [i for i in range(len(ArrayOfDataFrames)+1)]

In [178]:
shotquality_df

    SeasonNumber  Team Name
0              0        NaN
1              1        NaN
2              2        NaN
3              3        NaN
4              4        NaN
5              5        NaN
6              6        NaN
7              7        NaN
8              8        NaN
9              9        NaN
10            10        NaN
11            11        NaN
12            12        NaN
13            13        NaN
14            14        NaN
15            15        NaN
16            16        NaN
17            17        NaN
18            18        NaN
19            19        NaN
20            20        NaN
21            21        NaN

In [179]:
for i in ListofTeams:
    print(i)
    shotquality_df[i] = np.nan
shotquality_df

Charlton
Chelsea
Coventry
Derby
Leeds
Leicester
Liverpool
Sunderland
Tottenham
Man United
Arsenal
Bradford
Ipswich
Middlesbrough
Everton
Man City
Newcastle
Southampton
West Ham
Aston Villa

,SeasonNumber,Team Name,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,...,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
shotquality_df = shotquality_df.set_index('SeasonNumber')
#shotquality_df = shotquality_df.drop('Team Name', axis=1)
shotquality_df

,Team Name,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,...,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
SeasonNumber,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
shotquality_df = shotquality_df.drop('Team Name', axis=1)
shotquality_df

,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,Man United,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
SeasonNumber,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
def shots_on_target_to_total_shots(dataframe:pd.DataFrame,teamlist:list):
    """
    Calculates the ratio of shots on target to total shots for each team in a given season.

    Parameters
    ----------
    dataframe : pd.DataFrame
        The input DataFrame containing match data.
    numberofseason : int
        The specific season number to put in the analysis plot
    teamlist : list
        The list of teams to include in the analysis.

    Returns
    -------
    ArrayofShotsOnTarget : list
        A list containing the ratio of shots on target to total shots for each team.
    """

    filtered_columns = ["Div","HomeTeam","AwayTeam","HST","AST","HS","AS"]
    Workingdataframe = dataframe[filtered_columns]

    ShotQuality = []
    for i in range(0,len(teamlist)):
        sotcounter = 0
        tscounter = 0
        for j in range(0,len(Workingdataframe)):
            if Workingdataframe["HomeTeam"][j] == teamlist[i]:
                sotcounter +=  int(Workingdataframe["HST"][j])
                tscounter += int(Workingdataframe["HS"][j])

            if Workingdataframe["AwayTeam"][j] == teamlist[i]:
                sotcounter += int(Workingdataframe["AST"][j])
                tscounter +=  int(Workingdataframe["AS"][j])


        ShotQuality.append(sotcounter/tscounter if tscounter > 0 else 0)
        

    return ShotQuality

In [183]:
new_row = pd.DataFrame([shots_on_target_to_total_shots(ArrayOfDataFrames[1], ListofTeams)], columns = shotquality_df.columns)
shotquality_df = pd.concat([new_row, shotquality_df], ignore_index=True)
shotquality_df

,Charlton,Chelsea,Coventry,Derby,Leeds,Leicester,Liverpool,Sunderland,Tottenham,Man United,Arsenal,Bradford,Ipswich,Middlesbrough,Everton,Man City,Newcastle,Southampton,West Ham,Aston Villa
0,0.479784,0.442387,0.0,0.472789,0.5,0.519737,0.502347,0.465438,0.432039,0.474954,0.503861,0.0,0.470149,0.416667,0.507812,0.0,0.480603,0.467787,0.472554,0.494764
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN