In [145]:
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
import chart_studio.plotly as py
import plotly.express as px
from collections import Counter
import pandas as pd
import collections
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import lxml
from urllib.request import urlopen
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
import os
import plotly.graph_objects as go

So for this file we are going to prepare the data to be used in a model in further notebooks to help predict what type of team 'profile' is needed to win the Premier League.

In [146]:
Link = "https://www.marca.com/en/football/premier-league/winners.html"

In [147]:
response = requests.get(Link)

response.raise_for_status()  # Check for request errors

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

In [148]:
table = soup.find('table')

In [149]:
table

<table cellpadding="0" cellspacing="0" class="ue-table-record" summary="Premier League Winners">
<caption class="ue-table-record__caption">
Premier League Winners
</caption>
<thead class="ue-table-record__thead">
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="col">Year</th>
<th class="ue-table-record__th is-marked" scope="col">Winner</th>
<th class="ue-table-record__th" scope="col">Runners-up</th>
</tr>
</thead>
<tbody class="ue-table-record__tbody">
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2024-25</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2023-24</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2022-23</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2021-22</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2020-21</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2019-20</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2018-19</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2017-18</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2016-17</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Tottenham Hotspur</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2015-16</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Leicester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2014-15</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2013-14</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2012-13</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2011-12</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2010-11</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2009-10</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2008-09</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2007-08</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2006-07</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2005-06</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2004-05</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2003-04</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2002-03</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2001-02</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2000-01</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1999-00</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1998-99</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1997-98</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1996-97</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Newcastle United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1995-96</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Newcastle United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1994-95</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Blackburn Rovers</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1993-94</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Blackburn Rovers</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1992-93</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Aston Villa</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1991-92</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Leeds United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1990-91</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1989-90</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Aston Villa</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1988-89</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1987-88</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1986-87</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Everton</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1985-86</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Everton</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1984-85</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Everton</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1983-84</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Southampton</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1982-83</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Watford</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1981-82</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Ipswich Town</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1980-81</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Aston Villa</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Ipswich Town</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1979-80</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1978-79</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Nottingham Forest</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1977-78</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Nottingham Forest</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1976-77</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1975-76</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Queens Park Rangers</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1974-75</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Derby County</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1973-74</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Leeds United</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1972-73</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1971-72</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Derby County</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Leeds United</span></td>
</tr>
<tr class="ue-table-record__tr">
<th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1970-71</span></th>
<td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
<td class="ue-table-record__td"><span class="ue-table-record__name">Leeds United</span></td>
</tr>

In [150]:
rows  = table.find_all('tr')  # Find all rows in the table
rows

[<tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="col">Year</th>
 <th class="ue-table-record__th is-marked" scope="col">Winner</th>
 <th class="ue-table-record__th" scope="col">Runners-up</th>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2024-25</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2023-24</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2022-23</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2021-22</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2020-21</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2019-20</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2018-19</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2017-18</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2016-17</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Tottenham Hotspur</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2015-16</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Leicester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2014-15</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2013-14</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2012-13</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2011-12</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester City</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2010-11</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2009-10</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2008-09</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2007-08</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2006-07</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2005-06</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2004-05</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Chelsea</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2003-04</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Chelsea</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2002-03</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2001-02</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">2000-01</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1999-00</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1998-99</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1997-98</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1996-97</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Newcastle United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1995-96</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Newcastle United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1994-95</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Blackburn Rovers</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1993-94</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Blackburn Rovers</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1992-93</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Manchester United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Aston Villa</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1991-92</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Leeds United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1990-91</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1989-90</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Aston Villa</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1988-89</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1987-88</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1986-87</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Everton</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1985-86</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Everton</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1984-85</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Everton</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1983-84</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Southampton</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1982-83</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Watford</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1981-82</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Ipswich Town</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1980-81</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Aston Villa</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Ipswich Town</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1979-80</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1978-79</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Nottingham Forest</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1977-78</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Nottingham Forest</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1976-77</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Manchester City</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1975-76</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Queens Park Rangers</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1974-75</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Derby County</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1973-74</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Leeds United</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Liverpool</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1972-73</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Liverpool</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Arsenal</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1971-72</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Derby County</span></td>
 <td class="ue-table-record__td"><span class="ue-table-record__name">Leeds United</span></td>
 </tr>,
 <tr class="ue-table-record__tr">
 <th class="ue-table-record__th" scope="row"><span class="ue-table-record__year">1970-71</span></th>
 <td class="ue-table-record__td is-main" scope="row"><span class="ue-table-record__name is-marked">Arsenal</span></td>

In [151]:

Years = []
Winners = []
for row in rows:
    cells = row.find_all(['td', 'th'])
    cell_data = [cell.get_text(strip=True) for cell in cells]
    Years.append(cell_data[0])
    Winners.append(cell_data[1])
    #cell_data_array.append(cell_data)
    print(cell_data)

['Year', 'Winner', 'Runners-up']
['2024-25', 'Liverpool', 'Arsenal']
['2023-24', 'Manchester City', 'Arsenal']
['2022-23', 'Manchester City', 'Arsenal']
['2021-22', 'Manchester City', 'Liverpool']
['2020-21', 'Manchester City', 'Manchester United']
['2019-20', 'Liverpool', 'Manchester City']
['2018-19', 'Manchester City', 'Liverpool']
['2017-18', 'Manchester City', 'Manchester United']
['2016-17', 'Chelsea', 'Tottenham Hotspur']
['2015-16', 'Leicester City', 'Arsenal']
['2014-15', 'Chelsea', 'Manchester City']
['2013-14', 'Manchester City', 'Liverpool']
['2012-13', 'Manchester United', 'Manchester City']
['2011-12', 'Manchester City', 'Manchester United']
['2010-11', 'Manchester United', 'Chelsea']
['2009-10', 'Chelsea', 'Manchester United']
['2008-09', 'Manchester United', 'Liverpool']
['2007-08', 'Manchester United', 'Chelsea']
['2006-07', 'Manchester United', 'Chelsea']
['2005-06', 'Chelsea', 'Manchester United']
['2004-05', 'Chelsea', 'Arsenal']
['2003-04', 'Arsenal', 'Chelsea']
['2002-03', 'Manchester United', 'Arsenal']
['2001-02', 'Arsenal', 'Liverpool']
['2000-01', 'Manchester United', 'Arsenal']
['1999-00', 'Manchester United', 'Arsenal']
['1998-99', 'Manchester United', 'Arsenal']
['1997-98', 'Arsenal', 'Manchester United']
['1996-97', 'Manchester United', 'Newcastle United']
['1995-96', 'Manchester United', 'Newcastle United']
['1994-95', 'Blackburn Rovers', 'Manchester United']
['1993-94', 'Manchester United', 'Blackburn Rovers']
['1992-93', 'Manchester United', 'Aston Villa']
['1991-92', 'Leeds United', 'Manchester United']
['1990-91', 'Arsenal', 'Liverpool']
['1989-90', 'Liverpool', 'Aston Villa']
['1988-89', 'Arsenal', 'Liverpool']
['1987-88', 'Liverpool', 'Manchester United']
['1986-87', 'Everton', 'Liverpool']
['1985-86', 'Liverpool', 'Everton']
['1984-85', 'Everton', 'Liverpool']
['1983-84', 'Liverpool', 'Southampton']
['1982-83', 'Liverpool', 'Watford']
['1981-82', 'Liverpool', 'Ipswich Town']
['1980-81', 'Aston Villa', 'Ipswich Town']
['1979-80', 'Liverpool', 'Manchester United']
['1978-79', 'Liverpool', 'Nottingham Forest']
['1977-78', 'Nottingham Forest', 'Liverpool']
['1976-77', 'Liverpool', 'Manchester City']
['1975-76', 'Liverpool', 'Queens Park Rangers']
['1974-75', 'Derby County', 'Liverpool']
['1973-74', 'Leeds United', 'Liverpool']
['1972-73', 'Liverpool', 'Arsenal']
['1971-72', 'Derby County', 'Leeds United']
['1970-71', 'Arsenal', 'Leeds United']
['1969-70', 'Everton', 'Leeds United']
['1968-69', 'Leeds United', 'Liverpool']
['1967-68', 'Manchester City', 'Manchester United']
['1966-67', 'Manchester United', 'Nottingham Forest']
['1965-66', 'Liverpool', 'Leeds United']
['1964-65', 'Manchester United', 'Leeds United']
['1963-64', 'Liverpool', 'Manchester United']
['1962-63', 'Everton', 'Tottenham Hotspur']
['1961-62', 'Ipswich Town', 'Burnley']
['1960-61', 'Tottenham Hotspur', 'Sheffield Wednesday']
['1959-60', 'Burnley', 'Wolverhampton Wanderers']
['1958-59', 'Wolverhampton Wanderers', 'Manchester United']
['1957-58', 'Wolverhampton Wanderers', 'Preston North End']
['1956-57', 'Manchester United', 'Tottenham Hotspur']
['1955-56', 'Manchester United', 'Blackpool']
['1954-55', 'Chelsea', 'Wolverhampton Wanderers']
['1953-54', 'Wolverhampton Wanderers', 'West Bromwich Albion']
['1952-53', 'Arsenal', 'Preston North End']
['1951-52', 'Manchester United', 'Tottenham Hotspur']
['1950-51', 'Tottenham Hotspur', 'Manchester United']
['1949-50', 'Portsmouth', 'Wolverhampton Wanderers']
['1948-49', 'Portsmouth', 'Manchester United']
['1947-48', 'Arsenal', 'Manchester United']
['1946-47', 'Liverpool', 'Manchester United']
['1945-46', 'It was not played because of World War II']
['1944-45', 'It was not played because of World War II']
['1943-44', 'It was not played because of World War II']
['1942-43', 'It was not played because of World War II']
['1941-42', 'It was not played because of World War II']
['1940-41', 'It was not played because of World War II']
['1939-40', 'Discontinued due to World War II']
['1938-39', 'Everton', 'Wolverhampton Wanderers']
['1937-38', 'Arsenal', 'Wolverhampton Wanderers']
['1936-37', 'Manchester City', 'Charlton Athletic']
['1935-36', 'Sunderland', 'Derby County']
['1934-35', 'Arsenal', 'Sunderland']
['1933-34', 'Arsenal', 'Huddersfield Town']
['1932-33', 'Arsenal', 'Aston Villa']
['1931-32', 'Everton', 'Arsenal']
['1930-31', 'Arsenal', 'Aston Villa']
['1929-30', 'Sheffield Wednesday', 'Derby County']
['1928-29', 'Sheffield Wednesday', 'Leicester City']
['1927-28', 'Everton', 'Huddersfield Town']
['1926-27', 'Newcastle United', 'Huddersfield Town']
['1925-26', 'Huddersfield Town', 'Arsenal']
['1924-25', 'Huddersfield Town', 'West Bromwich Albion']
['1923-24', 'Huddersfield Town', 'Cardiff City']
['1922-23', 'Liverpool', 'Sunderland']
['1921-22', 'Liverpool', 'Tottenham Hotspur']
['1920-21', 'Burnley', 'Manchester City']
['1919-20', 'West Bromwich Albion', 'Burnley']
['1918-19', 'It was not played because of World War I']
['1917-18', 'It was not played because of World War I']
['1916-17', 'It was not played because of World War I']
['1915-16', 'It was not played because of World War I']
['1914-15', 'Everton', 'Oldham Athletic']
['1913-14', 'Blackburn Rovers', 'Aston Villa']
['1912-13', 'Sunderland', 'Aston Villa']
['1911-12', 'Blackburn Rovers', 'Everton']
['1910-11', 'Manchester United', 'Aston Villa']
['1909-10', 'Aston Villa', 'Liverpool']
['1908-09', 'Newcastle United', 'Everton']
['1907-08', 'Manchester United', 'Aston Villa']
['1906-07', 'Newcastle United', 'Bristol City']
['1905-06', 'Liverpool', 'Preston North End']
['1904-05', 'Newcastle United', 'Everton']
['1903-04', 'The Wednesday', 'Manchester City']
['1902-03', 'The Wednesday', 'Aston Villa']
['1901-02', 'Sunderland', 'Everton']
['1900-01', 'Liverpool', 'Sunderland']
['1899-00', 'Aston Villa', 'Sheffield United']
['1898-99', 'Aston Villa', 'Liverpool']
['1897-98', 'Sheffield United', 'Sunderland']
['1896-97', 'Aston Villa', 'Sheffield United']
['1895-96', 'Aston Villa', 'Derby County']
['1894-95', 'Sunderland', 'Everton']
['1893-94', 'Aston Villa', 'Sunderland']
['1892-93', 'Sunderland', 'Preston North End']
['1891-92', 'Sunderland', 'Preston North End']
['1890-91', 'Everton', 'Preston North End']
['1889-90', 'Preston North End', 'Everton']
['1888-89', 'Preston North End', 'Aston Villa']

In [152]:
Years = Years[1:]
Winners = Winners[1:]

In [153]:
pastwinners = pd.DataFrame({"Year": Years, "Winner": Winners})
pastwinners

        Year             Winner
0    2024-25          Liverpool
1    2023-24    Manchester City
2    2022-23    Manchester City
3    2021-22    Manchester City
4    2020-21    Manchester City
..       ...                ...
132  1892-93         Sunderland
133  1891-92         Sunderland
134  1890-91            Everton
135  1889-90  Preston North End
136  1888-89  Preston North End

[137 rows x 2 columns]

In [154]:
len(pastwinners)

137

In [155]:
pastwinners.iloc[3:25]

       Year             Winner
3   2021-22    Manchester City
4   2020-21    Manchester City
5   2019-20          Liverpool
6   2018-19    Manchester City
7   2017-18    Manchester City
8   2016-17            Chelsea
9   2015-16     Leicester City
10  2014-15            Chelsea
11  2013-14    Manchester City
12  2012-13  Manchester United
13  2011-12    Manchester City
14  2010-11  Manchester United
15  2009-10            Chelsea
16  2008-09  Manchester United
17  2007-08  Manchester United
18  2006-07  Manchester United
19  2005-06            Chelsea
20  2004-05            Chelsea
21  2003-04            Arsenal
22  2002-03  Manchester United
23  2001-02            Arsenal
24  2000-01  Manchester United

In [156]:
pastwinners['Winner'] = pastwinners['Winner'].replace('Manchester City','Man City')
pastwinners['Winner'] = pastwinners['Winner'].replace('Manchester United','Man United')

In [157]:
count = Counter(pastwinners['Winner'])
count

Counter({'Liverpool': 20,
         'Man United': 20,
         'Arsenal': 13,
         'Man City': 10,
         'Everton': 9,
         'Aston Villa': 7,
         'Chelsea': 6,
         'It was not played because of World War II': 6,
         'Sunderland': 6,
         'Newcastle United': 4,
         'It was not played because of World War I': 4,
         'Blackburn Rovers': 3,
         'Leeds United': 3,
         'Wolverhampton Wanderers': 3,
         'Huddersfield Town': 3,
         'Derby County': 2,
         'Tottenham Hotspur': 2,
         'Burnley': 2,
         'Portsmouth': 2,
         'Sheffield Wednesday': 2,
         'The Wednesday': 2,
         'Preston North End': 2,
         'Leicester City': 1,
         'Nottingham Forest': 1,
         'Ipswich Town': 1,
         'Discontinued due to World War II': 1,
         'West Bromwich Albion': 1,
         'Sheffield United': 1})

In [158]:
Season1 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2000-01.csv") 
ListofTeams = Season1['HomeTeam'].unique().tolist()
ListofTeams

['Charlton',
 'Chelsea',
 'Coventry',
 'Derby',
 'Leeds',
 'Leicester',
 'Liverpool',
 'Sunderland',
 'Tottenham',
 'Man United',
 'Arsenal',
 'Bradford',
 'Ipswich',
 'Middlesbrough',
 'Everton',
 'Man City',
 'Newcastle',
 'Southampton',
 'West Ham',
 'Aston Villa']

In [159]:
for i in range(len(ListofTeams)):
    weightofwinning = count[ListofTeams[i]] / len(pastwinners) * 100
    print(f"Ratio of winning the Premier League for {ListofTeams[i]}: {weightofwinning}")

Ratio of winning the Premier League for Charlton: 0.0
Ratio of winning the Premier League for Chelsea: 4.37956204379562
Ratio of winning the Premier League for Coventry: 0.0
Ratio of winning the Premier League for Derby: 0.0
Ratio of winning the Premier League for Leeds: 0.0
Ratio of winning the Premier League for Leicester: 0.0
Ratio of winning the Premier League for Liverpool: 14.5985401459854
Ratio of winning the Premier League for Sunderland: 4.37956204379562
Ratio of winning the Premier League for Tottenham: 0.0
Ratio of winning the Premier League for Man United: 14.5985401459854
Ratio of winning the Premier League for Arsenal: 9.48905109489051
Ratio of winning the Premier League for Bradford: 0.0
Ratio of winning the Premier League for Ipswich: 0.0
Ratio of winning the Premier League for Middlesbrough: 0.0
Ratio of winning the Premier League for Everton: 6.569343065693431
Ratio of winning the Premier League for Man City: 7.2992700729927
Ratio of winning the Premier League for Newcastle: 0.0
Ratio of winning the Premier League for Southampton: 0.0
Ratio of winning the Premier League for West Ham: 0.0
Ratio of winning the Premier League for Aston Villa: 5.109489051094891

We will need these calculations later because yes I know that soccer is very wild and unpredictable but for my models sake I want this to be as accurate as possible. For example yes Man United has won the Prem 20 times (unforuntately); however Man City has won 4 of the last 6 (and we are definitely winning next year)

Next up I want to get a compiled dataframe together of all the stats/metrics that I think we be useful for predicting what type of team can win the greatest title in English football.

Some of the more advanced metrics I want to capture across all seasons include (and to me, and partly Chat GPT, are important factors for winning):
 - Shot Quality (Shots on Target)
 - Set Piece Goals (Corners, free kicks, penalties)
 - Opponent Shot Quality
 - Number of Clean Sheets
 -  Goal Differential
 - Saves Differential
 - Goal Conversion Rate
 - Number of Bookings (Red and Yellow Cards)

In [163]:
Season1 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2000-01.csv") 
Season2 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2001-02.csv")
Season3 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2002-03.csv")
Season4 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2003-04.csv")
Season5 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2004-05.csv")
Season6 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2005-06.csv")
Season7 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2006-07.csv")
Season8 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2007-08.csv")
Season9 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2008-09.csv")
Season10 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2009-10.csv")
Season11 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2011-12.csv")
Season12 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2012-13.csv")
Season13 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2013-14.csv")
Season14 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2014-15.csv")
Season15 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2015-16.csv")
Season16 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2016-17.csv")
Season17 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2017-18.csv")
Season18 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2018-19.csv")
Season19 = pd.read_csv(r"C:\Users\JosephMoffatt\OneDrive - Thought Logic\Desktop\GitHubRepos\RefurbishedCode\PremLeaguePredictor\raw_datasets\2019-20.csv")

In [166]:
ArrayOfDataFrames = []
ArrayOfDataFrames.append(Season1)
ArrayOfDataFrames.append(Season2)
ArrayOfDataFrames.append(Season3)
ArrayOfDataFrames.append(Season4)
ArrayOfDataFrames.append(Season5)
ArrayOfDataFrames.append(Season6)
ArrayOfDataFrames.append(Season7)
ArrayOfDataFrames.append(Season8)
ArrayOfDataFrames.append(Season9)
ArrayOfDataFrames.append(Season10)
ArrayOfDataFrames.append(Season11)
ArrayOfDataFrames.append(Season12)
ArrayOfDataFrames.append(Season13)
ArrayOfDataFrames.append(Season14)
ArrayOfDataFrames.append(Season15)
ArrayOfDataFrames.append(Season16)
ArrayOfDataFrames.append(Season17)
ArrayOfDataFrames.append(Season18)
ArrayOfDataFrames.append(Season19)

In [167]:
ArrayOfDataFrames

[    Div      Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
 0    E0  19/08/00       Charlton       Man City     4     0   H     2     0
 1    E0  19/08/00        Chelsea       West Ham     4     2   H     1     0
 2    E0  19/08/00       Coventry  Middlesbrough     1     3   A     1     1
 3    E0  19/08/00          Derby    Southampton     2     2   D     1     2
 4    E0  19/08/00          Leeds        Everton     2     0   H     2     0
 ..   ..       ...            ...            ...   ...   ...  ..   ...   ...
 375  E0  19/05/01       Man City        Chelsea     1     2   A     1     1
 376  E0  19/05/01  Middlesbrough       West Ham     2     1   H     2     1
 377  E0  19/05/01      Newcastle    Aston Villa     3     0   H     2     0
 378  E0  19/05/01    Southampton        Arsenal     3     2   H     0     1
 379  E0  19/05/01      Tottenham     Man United     3     1   H     1     1

     HTR  ...  HC AC  HF  AF  HO  AO  HY  AY  HR  AR
 0     H  ...   6  6  13  12   8   6   1   2   0   0
 1     H  ...   7  7  19  14   2   3   1   2   0   0
 2     D  ...   8  4  15  21   1   3   5   3   1   0
 3     A  ...   5  8  11  13   0   2   1   1   0   0
 4     H  ...   6  4  21  20   6   1   1   3   0   0
 ..   ..  ...  .. ..  ..  ..  ..  ..  ..  ..  ..  ..
 375   D  ...   8  7  22  18   2   2   4   2   0   0
 376   H  ...   5  6  13  15   5   2   0   0   0   0
 377   H  ...   5  1  10  14   2   4   0   5   1   1
 378   A  ...   7  5  17  10   3   2   1   2   0   0
 379   D  ...   3  6  13  15   3   2   0   2   0   0

 [380 rows x 28 columns],
     Div      Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  18/08/01     Charlton      Everton     1     2   A     0     0   D
 1    E0  18/08/01        Derby    Blackburn     2     1   H     1     0   H
 2    E0  18/08/01        Leeds  Southampton     2     0   H     0     0   D
 3    E0  18/08/01    Leicester       Bolton     0     5   A     0     4   A
 4    E0  18/08/01    Liverpool     West Ham     2     1   H     1     1   D
 ..   ..       ...          ...          ...   ...   ...  ..   ...   ...  ..
 375  E0  11/05/02    Liverpool      Ipswich     5     0   H     2     0   H
 376  E0  11/05/02   Man United     Charlton     0     0   D     0     0   D
 377  E0  11/05/02  Southampton    Newcastle     3     1   H     2     0   H
 378  E0  11/05/02   Sunderland        Derby     1     1   D     1     0   H
 379  E0  11/05/02     West Ham       Bolton     2     1   H     1     0   H

      ...  HC  AC  HF  AF  HO  AO  HY  AY  HR  AR
 0    ...   4   4  15  17   2   1   0   3   0   0
 1    ...   4  10  14  15   3   1   1   0   0   0
 2    ...  10   3  16  24   3   2   1   2   0   1
 3    ...   3   5  21  17   4   0   4   3   0   0
 4    ...   5   3  13  12   0   6   1   5   0   0
 ..   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
 375  ...   0   7  13   5   2   2   0   0   0   0
 376  ...   7   4   8   7   1   3   2   0   0   0
 377  ...   3   6  15  11   3   5   0   1   1   0
 378  ...   4   2  11  14   6   5   0   1   0   0
 379  ...   9   5   9  13   3   6   2   1   0   0

 [380 rows x 28 columns],
     Div        Date    HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  17/08/2002   Blackburn   Sunderland     0     0   D     0     0   D
 1    E0  17/08/2002    Charlton      Chelsea     2     3   A     2     1   H
 2    E0  17/08/2002     Everton    Tottenham     2     2   D     1     0   H
 3    E0  17/08/2002      Fulham       Bolton     4     1   H     3     1   H
 4    E0  17/08/2002       Leeds     Man City     3     0   H     2     0   H
 ..   ..         ...         ...          ...   ...   ...  ..   ...   ...  ..
 375  E0  11/05/2003       Leeds  Aston Villa     3     1   H     1     1   D
 376  E0  11/05/2003    Man City  Southampton     0     1   A     0     1   A
 377  E0  11/05/2003  Sunderland      Arsenal     0     4   A     0     2   A
 378  E0  11/05/2003   Tottenham    Blackburn     0     4   A     0     2   A
 379  E0  11/05/2003   West Brom    Newcastle     2     2   D     0     1   A

      ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0    ...   5    3  14  11   9   1   1   2   0   0
 1    ...   5   12  10  12   3   6   0   3   1   0
 2    ...   9    5  18   4  10   5   1   1   0   0
 3    ...   6    1  16  12   7   4   1   2   0   0
 4    ...   8   10  13  13   2   7   1   1   0   0
 ..   ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375  ...   5    6  18  14   1   8   0   1   0   0
 376  ...   7    3  14  14  10   4   3   4   0   0
 377  ...   3   13  16  12   6  10   1   0   0   0
 378  ...   7    9   9  12   6   3   1   1   1   0
 379  ...   3    9   9   8   2   8   0   0   0   0

 [380 rows x 23 columns],
     Div      Date    HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  16/08/03     Arsenal        Everton     2     1   H     1     0   H
 1    E0  16/08/03  Birmingham      Tottenham     1     0   H     1     0   H
 2    E0  16/08/03   Blackburn         Wolves     5     1   H     2     0   H
 3    E0  16/08/03      Fulham  Middlesbrough     3     2   H     1     1   D
 4    E0  16/08/03   Leicester    Southampton     2     2   D     2     0   H
 ..   ..       ...         ...            ...   ...   ...  ..   ...   ...  ..
 375  E0  15/05/04     Chelsea          Leeds     1     0   H     1     0   H
 376  E0  15/05/04   Liverpool      Newcastle     1     1   D     0     1   A
 377  E0  15/05/04    Man City        Everton     5     1   H     3     0   H
 378  E0  15/05/04  Portsmouth  Middlesbrough     5     1   H     3     1   H
 379  E0  15/05/04      Wolves      Tottenham     0     2   A     0     1   A

      ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0    ...   5    7   8  15   6   9   1   3   1   1
 1    ...   5    7  20  27   1   4   3   5   0   0
 2    ...  13    5   8  14   6   2   1   1   0   0
 3    ...   9    5  18  16   7   6   1   1   0   0
 4    ...   7   10  27  15   2   7   3   1   0   0
 ..   ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375  ...   9    0   5   9   9   2   0   0   0   0
 376  ...   4    5  11  17   8   1   1   1   0   0
 377  ...  11    0   5   8   7   3   1   1   0   0
 378  ...  10    4  12   8   7   2   0   0   0   0
 379  ...  10   12   6  11   5   3   1   1   1   0

 [380 rows x 23 columns],
     Div      Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
 0    E0  14/08/04    Aston Villa    Southampton     2     0   H     2     0
 1    E0  14/08/04      Blackburn      West Brom     1     1   D     0     1
 2    E0  14/08/04         Bolton       Charlton     4     1   H     2     0
 3    E0  14/08/04       Man City         Fulham     1     1   D     1     0
 4    E0  14/08/04  Middlesbrough      Newcastle     2     2   D     0     1
 ..   ..       ...            ...            ...   ...   ...  ..   ...   ...
 375  E0  15/05/05       Man City  Middlesbrough     1     1   D     0     1
 376  E0  15/05/05      Newcastle        Chelsea     1     1   D     1     1
 377  E0  15/05/05    Southampton     Man United     1     2   A     1     1
 378  E0  15/05/05      Tottenham      Blackburn     0     0   D     0     0
 379  E0  15/05/05      West Brom     Portsmouth     2     0   H     0     0

     HTR  ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0     H  ...   5    2  14   9  12   6   0   0   0   0
 1     A  ...   4    2  15  17   4   5   1   0   0   0
 2     H  ...  11    5  10  12   9   5   1   1   0   0
 3     H  ...   5    2  14  12   9   4   0   2   0   0
 4     A  ...   8    4  16  13   6   7   3   1   0   0
 ..   ..  ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375   A  ...   5    3  12  15  10   3   2   4   0   0
 376   D  ...   4    7  11  17   6   4   4   4   0   0
 377   D  ...   3    8  14  13   5   3   1   2   0   0
 378   D  ...   7    8  10  14   5   7   2   2   0   0
 379   D  ...   5    2  12  13   6   1   0   1   0   0

 [380 rows x 23 columns],
     Div      Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
 0    E0  13/08/05    Aston Villa         Bolton     2     2   D     2     2
 1    E0  13/08/05        Everton     Man United     0     2   A     0     1
 2    E0  13/08/05         Fulham     Birmingham     0     0   D     0     0
 3    E0  13/08/05       Man City      West Brom     0     0   D     0     0
 4    E0  13/08/05  Middlesbrough      Liverpool     0     0   D     0     0
 ..   ..       ...            ...            ...   ...   ...  ..   ...   ...
 375  E0  07/05/06         Fulham  Middlesbrough     1     0   H     0     0
 376  E0  07/05/06     Man United       Charlton     4     0   H     3     0
 377  E0  07/05/06      Newcastle        Chelsea     1     0   H     0     0
 378  E0  07/05/06     Portsmouth      Liverpool     1     3   A     0     0
 379  E0  07/05/06       West Ham      Tottenham     2     1   H     1     1

     HTR  ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0     D  ...   2    6  14  16   7   8   0   2   0   0
 1     A  ...   5    5  15  14   8   6   3   1   0   0
 2     D  ...   7    4  12  13   6   6   1   2   0   0
 3     D  ...   8    3  13  11   3   6   2   3   0   0
 4     D  ...   2    7  17  11   5   0   2   3   1   0
 ..   ..  ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375   D  ...   3    3   8  12   8   4   0   1   0   0
 376   H  ...  11    3   9   6   8   2   1   0   0   0
 377   D  ...   8    5  17  14   3   7   4   2   1   0
 378   D  ...   4    4   5  11   5   6   1   0   0   0
 379   D  ...   7    6  17   7  11   4   1   0   0   0

 [380 rows x 23 columns],
     Div      Date          HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
 0    E0  19/08/06           Arsenal  Aston Villa     1     1   D     0     0
 1    E0  19/08/06            Bolton    Tottenham     2     0   H     2     0
 2    E0  19/08/06           Everton      Watford     2     1   H     1     0
 3    E0  19/08/06         Newcastle        Wigan     2     1   H     1     0
 4    E0  19/08/06        Portsmouth    Blackburn     3     0   H     1     0
 ..   ..       ...               ...          ...   ...   ...  ..   ...   ...
 375  E0  13/05/07     Middlesbrough       Fulham     3     1   H     2     1
 376  E0  13/05/07        Portsmouth      Arsenal     0     0   D     0     0
 377  E0  13/05/07  Sheffield United        Wigan     1     2   A     1     2
 378  E0  13/05/07         Tottenham     Man City     2     1   H     2     1
 379  E0  13/05/07           Watford    Newcastle     1     1   D     0     1

     HTR  ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0     D  ...  11    3  10  19  18   1   1   2   0   0
 1     H  ...   6    6  19  22   6   3   0   1   0   0
 2     H  ...   2    8  12  13   0   6   2   2   0   0
 3     H  ...   8    9  17  20   4  11   1   2   0   0
 4     H  ...  16    7  20  17   6   2   2   1   0   2
 ..   ..  ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375   H  ...  10    5  11  12  10   3   1   0   0   0
 376   D  ...   4    6  18  15   2   6   0   0   0   0
 377   A  ...   5    3  11  15  10   3   3   5   0   1
 378   H  ...   3    5  11  13   6   6   1   1   0   0
 379   A  ...   2    1  13   6   8   5   2   4   0   0

 [380 rows x 23 columns],
     Div      Date       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  11/08/07    Aston Villa    Liverpool     1     2   A     0     1   A
 1    E0  11/08/07         Bolton    Newcastle     1     3   A     0     3   A
 2    E0  11/08/07          Derby   Portsmouth     2     2   D     1     1   D
 3    E0  11/08/07        Everton        Wigan     2     1   H     1     0   H
 4    E0  11/08/07  Middlesbrough    Blackburn     1     2   A     1     0   H
 ..   ..       ...            ...          ...   ...   ...  ..   ...   ...  ..
 375  E0  11/05/08     Portsmouth       Fulham     0     1   A     0     0   D
 376  E0  11/05/08     Sunderland      Arsenal     0     1   A     0     1   A
 377  E0  11/05/08      Tottenham    Liverpool     0     2   A     0     0   D
 378  E0  11/05/08       West Ham  Aston Villa     2     2   D     1     1   D
 379  E0  11/05/08          Wigan   Man United     0     2   A     0     1   A

      ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0    ...   6    7  18  11   4   2   4   2   0   0
 1    ...   9    5  15  16   4   3   1   1   0   0
 2    ...   5    6  14  17   6   6   1   2   0   0
 3    ...   8    4   8  13   6   2   0   0   0   0
 4    ...   6    4  16  16  13   3   3   4   0   0
 ..   ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375  ...  10    4  13  11   5   6   0   0   0   0
 376  ...   5    8  14  12   3   4   1   1   0   0
 377  ...   3   12  11   9   8   4   1   1   0   0
 378  ...   8    8   9  21   7   8   2   2   0   0
 379  ...   6    6  10   5   5  12   3   2   0   0

 [380 rows x 23 columns],
     Div      Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
 0    E0  16/08/08        Arsenal      West Brom     1     0   H     1     0
 1    E0  16/08/08         Bolton          Stoke     3     1   H     3     0
 2    E0  16/08/08        Everton      Blackburn     2     3   A     1     1
 3    E0  16/08/08           Hull         Fulham     2     1   H     1     1
 4    E0  16/08/08  Middlesbrough      Tottenham     2     1   H     0     0
 ..   ..       ...            ...            ...   ...   ...  ..   ...   ...
 375  E0  24/05/09      Liverpool      Tottenham     3     1   H     1     0
 376  E0  24/05/09       Man City         Bolton     1     0   H     1     0
 377  E0  24/05/09     Sunderland        Chelsea     2     3   A     0     0
 378  E0  24/05/09       West Ham  Middlesbrough     2     1   H     1     0
 379  E0  24/05/09          Wigan     Portsmouth     1     0   H     1     0

     HTR  ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
 0     H  ...  14    4  11   8   7   5   0   0   0   0
 1     H  ...   8    2  13  12   4   3   1   2   0   0
 2     D  ...   5   11  11   9   3   5   2   2   0   0
 3     D  ...   6    6  10   9   5   6   3   0   0   0
 4     D  ...  10    5  11  12   7   9   1   2   0   0
 ..   ..  ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
 375   H  ...   9    4  14   4   9   2   0   1   0   0
 376   H  ...  12    4   8  10  15   9   0   0   0   0
 377   D  ...   7    9   8   7   6   7   1   1   0   0
 378   H  ...   8    6  14  10   4   5   0   1   0   0
 379   H  ...  10    3   8  21   8   2   0   4   0   0

 [380 rows x 23 columns],
     Div      Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  15/08/09  Aston Villa       Wigan     0     2   A     0     1   A
 1    E0  15/08/09    Blackburn    Man City     0     2   A     0     1   A
 2    E0  15/08/09       Bolton  Sunderland     0     1   A     0     1   A
 3    E0  15/08/09      Chelsea        Hull     2     1   H     1     1   D
 4    E0  15/08/09      Everton     Arsenal     1     6   A     0     3   A
 ..   ..       ...          ...         ...   ...   ...  ..   ...   ...  ..
 375  E0  09/05/10      Everton  Portsmouth     1     0   H     0     0   D
 376  E0  09/05/10         Hull   Liverpool     0     0   D     0     0   D
 377  E0  09/05/10   Man United       Stoke     4     0   H     2     0   H
 378  E0  09/05/10     West Ham    Man City     1     1   D     1     1   D
 379  E0  09/05/10       Wolves  Sunderland     2     1   H     1     1   D

      ... BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
 0    ...     2.04      1.92      1.91      1.81    21   0.00     1.28
 1    ...     2.15      2.04      1.78      1.71    24   0.00     2.58
 2    ...     2.25      2.12      1.70      1.66    23   0.00     1.68
 3    ...     1.67      1.58      2.44      2.26    22   0.00     1.03
 4    ...     2.20      2.06      1.77      1.70    24   0.00     2.27
 ..   ...      ...       ...       ...       ...   ...    ...      ...
 375  ...     1.62      1.56      2.40      2.30    15   0.00     1.10
 376  ...     1.79      1.71      2.23      2.05    15   0.00     5.00
 377  ...     1.57      1.50      2.63      2.46    14  -2.25     2.08
 378  ...     1.67      1.60      2.30      2.20    13   0.00     3.25
 379  ...     2.00      1.92      1.94      1.84    21   0.00     1.73

      BbAvAHH  BbMxAHA  BbAvAHA
 0       1.22     4.40     3.99
 1       2.38     1.60     1.54
 2       1.61     2.33     2.23
 3       1.02    17.05    12.96
 4       2.20     1.73     1.63
 ..       ...      ...      ...
 375     1.06    10.00     7.72
 376     4.38     1.20     1.18
 377     2.02     1.91     1.85
 378     2.99     1.44     1.35
 379     1.64     2.33     2.16

 [380 rows x 71 columns],
     Div      Date    HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  13/08/11   Blackburn       Wolves     1     2   A     1     1   D
 1    E0  13/08/11      Fulham  Aston Villa     0     0   D     0     0   D
 2    E0  13/08/11   Liverpool   Sunderland     1     1   D     1     0   H
 3    E0  13/08/11   Newcastle      Arsenal     0     0   D     0     0   D
 4    E0  13/08/11         QPR       Bolton     0     4   A     0     1   A
 ..   ..       ...         ...          ...   ...   ...  ..   ...   ...  ..
 375  E0  13/05/12  Sunderland   Man United     0     1   A     0     1   A
 376  E0  13/05/12     Swansea    Liverpool     1     0   H     0     0   D
 377  E0  13/05/12   Tottenham       Fulham     2     0   H     1     0   H
 378  E0  13/05/12   West Brom      Arsenal     2     3   A     2     2   D
 379  E0  13/05/12       Wigan       Wolves     3     2   H     2     1   H

      ... BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
 0    ...     2.06      1.96      1.89      1.82    18  -0.50     2.20
 1    ...     2.21      2.11      1.77      1.69    21  -0.25     1.83
 2    ...     1.92      1.85      2.01      1.92    21  -1.00     1.92
 3    ...     1.89      1.80      2.10      1.98    20   0.50     1.84
 4    ...     2.27      2.16      1.73      1.66    19  -0.25     2.00
 ..   ...      ...       ...       ...       ...   ...    ...      ...
 375  ...     1.67      1.60      2.43      2.27    20   1.25     1.95
 376  ...     1.77      1.71      2.24      2.11    20   0.25     2.13
 377  ...     1.68      1.63      2.45      2.23    18  -1.25     1.93
 378  ...     1.67      1.58      2.50      2.31    18   0.75     2.14
 379  ...     1.67      1.59      2.43      2.26    22  -1.00     2.01

      BbAvAHH  BbMxAHA  BbAvAHA
 0       2.14     1.78     1.74
 1       1.80     2.14     2.08
 2       1.88     2.02     1.98
 3       1.79     2.16     2.10
 4       1.95     1.98     1.92
 ..       ...      ...      ...
 375     1.89     2.03     1.97
 376     2.06     1.84     1.81
 377     1.90     2.02     1.97
 378     2.08     1.85     1.81
 379     1.96     1.97     1.90

 [380 rows x 71 columns],
     Div      Date   HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    E0  18/08/12    Arsenal   Sunderland     0     0   D     0     0   D
 1    E0  18/08/12     Fulham      Norwich     5     0   H     2     0   H
 2    E0  18/08/12  Newcastle    Tottenham     2     1   H     0     0   D
 3    E0  18/08/12        QPR      Swansea     0     5   A     0     1   A
 4    E0  18/08/12    Reading        Stoke     1     1   D     0     1   A
 ..   ..       ...        ...          ...   ...   ...  ..   ...   ...  ..
 375  E0  19/05/13    Swansea       Fulham     0     3   A     0     1   A
 376  E0  19/05/13  Tottenham   Sunderland     1     0   H     0     0   D
 377  E0  19/05/13  West Brom   Man United     5     5   D     1     3   A
 378  E0  19/05/13   West Ham      Reading     4     2   H     2     0   H
 379  E0  19/05/13      Wigan  Aston Villa     2     2   D     2     1   H

      ... BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
 0    ...     1.83      1.76      2.15      2.05    23  -1.25     2.02
 1    ...     1.95      1.89      2.01      1.92    21  -0.50     1.83
 2    ...     2.00      1.88      2.01      1.92    23   0.00     1.93
 3    ...     2.18      2.09      1.81      1.73    22  -0.25     1.80

In [169]:
for i in ArrayOfDataFrames:
    print(i.columns)

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW',
       'AHW', 'HC', 'AC', 'HF', 'AF', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW',
       'AHW', 'HC', 'AC', 'HF', 'AF', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA',
       'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD',
       'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
       'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=105)

So I figure the best way to accomplish this is to create functions to get each of these advanced metrics.

#### Shot Quality (Shots on Target as Compared to Total Shots)